<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<h1>회원마일리지 조회/관리</h1>

	<form action="/admin/mileageManage/mileageManagement" method="post">
		<div class="position-relative">
			<div class="col-xs-3">

				<input class="form-control" id="memberId" type="text"
					name="memberId" placeholder="회원아이디검색">

			</div>
			<input type="submit" value="검색">
			
			<!-- <button type="button" id="mSearch" class="btn btn-primary">검색</button> -->
		</div>
	</form>
	<br>
		<table class="table m-b-0 photo-table">
    			<thead>
    			<tr>
    				<th>회원 아이디</th>
    				<th>주문 상세코드</th>
    				<th>현재 적립금</th>
    				<th>적립금 구분</th>
    				<th>적립금 사용/적립금액</th>
    				<th>적립금 갱신날짜</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:if="${not #lists.isEmpty(mileageList)}"
    				th:each="ml : ${mileageList}">
    				<td th:text="${ml.memberId}"></td>
    				<td th:text="${ml.orderDetailCode}"></td>
    				<td th:text="${ml.currentMileage}"></td>
    				<td th:text="${ml.mileageDistinct}"></td>
    				<td th:text="${ml.addedUsedMileage}"></td>
    				<td th:text="${ml.mUpdateDatetime}"></td>

    			</tr>
    			<tr th:unless="${not #lists.isEmpty(mileageList)}">
    				<td colspan="7" style="text-align: center;">마일리지 내역이 존재하지 않습니다.</td>
    			</tr>
    		</tbody>
    	</table>


	</th:block>

<!-- 사용자 정의 js 하단  -->
<th:block layout:fragment="customFootJs">
	 <script src="https://code.jquery.com/jquery-3.4.1.min.js">

	 $(function(){        
		 // ajax 선언      
		 var ajax = $.ajax({          
			 type: "GET",   // 요청 메소드 타입          
			 url: "mileageManagement.html", // 접속 url          
			 dataType: 'json' // 응답 메시지의 타입       
			 });        
		 // 결과        
		 ajax.done(function(data){         
			          
			 $(data).each(function(){           
				 <div class="modal" tabindex="-1">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Modal title</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      			this.data
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
				 });                  
			 });     
		 });    
	 </script>
</th:block>



</html>
    
  <!--  <script type="text/javascript">
   
   
   
   function getJSON() {
       $.ajax({
       type:"get",
       url:"data.json",
       dataType:"json",
       success: function(data){
           console.log("통신성공");
           console.log(data);
           str = '<TR>'; 
               $.each(data , function(i){
                   str += '<TD>' + data[i].Id + 
                   '</TD><TD>' + data[i].orderDetailCode + 
                   '</TD><TD>' + data[i].currentMileage + 
                   '</TD><TD>' + data[i].mileageDistinct + 
                   '</TD><TD>' + data[i].addUesedMileage + 
                   '</TD><TD>' + data[i].mileageUpdateDate + '</TD>';
                   str += '</TR>';
               });
           $('.table_body').append(str);
       },
       error:function(){
           console.log("통신에러");
       }
   })
}
   </script> -->
