<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">


<th:block layout:fragment="customCss">
	<style>
		html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}
	</style>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<h1>회원마일리지 조회/관리</h1>

	<form action="/admin/mileageManage/mileageManagement" method="post">
		<div class="position-relative">
			<div class="col-xs-3">

				<input class="form-control" id="memberId" type="text"
					name="memberId" placeholder="회원아이디검색">

			</div>
			<button type="button" id="searchBtn" >검색</button>
			
			<!-- <button type="button" id="mSearch" class="btn btn-primary">검색</button> -->
		</div>
	</form>
				
	<br>
	<div style="margin-left:10px;">
		<form th:action="@{/admin/mileageManage/mileageManagement}"
						method="post">
						<div class="col-xs-3">
						
						<label for="mMileageCode">마일리지 누적코드
									<input th:value="*{mMileageCode}" class="form-control"
										type="text" id="mMileageCode" name="mMileageCode">
								</label>
						<br>	
								<label for="memberId">회원아이디
									<input th:value="*{memberId}" class="form-control"
										type="text" id="member_Id" name="member_Id">
								</label>
							
						<br>
								<label for="mMileageCode">상세 주문서코드
									<input th:value="*{orderDetailCode}" class="form-control"
										type="text" id="orderDetailCode" name="orderDetailCode">
								 </label>
						<br>
							
								<label for="mileageDistinct">마일리지 구분
       							<!-- <input th:value="*{mileageDistinct}" class="form-control"
										type="text" id="mileageDistinct" name="mileageDistinct">-->		
								<select id="mileageDistinct" name="mileageDistinct" class="custom-select custom-select-lg mb-3">
									<option th:value="적립">적립</option>
									<option th:value="사용">사용</option>
								</select>
							 </label>
							
						<br>	
							<label for="mCurrentMileage">현재마일리지
									<input th:value="*{currentMileage}" class="form-control"
										type="text" id="currentMileage" name="currentMileage">
								</label>
						<br>	
							
								<label for="mMileageCode">적립/소멸마일리지
									<input th:value="*{addedUsedMileage}" class="form-control"
										type="text" id="addedUsedMileage" name="addedUsedMileage">
								</label>
						<br>	
						
						<label for="mMileageCode">주문서그룹코드
									<input th:value="*{orderGroupCode}" class="form-control"
										type="text" id="orderGroupCode" name="orderGroupCode">
								</label>
						<br>	

							<div style="margin-left:10px;">
							<button id="updateBtn" type="button"
								class="btn btn-info waves-effect waves-light">적립/소멸</button>
						 </div>
						</div>
					</form>
						</div>
<section class="intro">
  <div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                  <table class="table table-striped mb-0">
                    <thead style="background-color: #002d72;">
    			<tr>
    				<th scope="col">회원 아이디</th>
    				<th scope="col">주문 상세코드</th>
    				<th scope="col">현재 적립금</th>
    				<th scope="col">적립금 구분</th>
    				<th scope="col">적립금 사용/적립금액</th>
    				<th scope="col">적립금 갱신날짜</th>
    			</tr>
    		</thead>
    		<tbody id="tBody">
    			<tr th:if="${not #lists.isEmpty(mileageList)}"
    				th:each="ml : ${mileageList}">
    				<td th:text="${ml.memberId}"></td>
    				<td th:text="${ml.orderDetailCode}"></td>
    				<td th:text="${ml.currentMileage}"></td>
    				<td th:text="${ml.mileageDistinct}"></td>
    				<td th:text="${ml.addedUsedMileage}"></td>
    				<td th:text="${ml.mUpdateDatetime}"></td>

    			</tr>
    			<tr th:unless="${not #lists.isEmpty(mileageList)}">
    				<td colspan="7" style="text-align: center;">마일리지 내역이 존재하지 않습니다.</td>
    			</tr>
    	      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


	</th:block>

<!-- 사용자 정의 js 하단  -->
<th:block layout:fragment="customFootJs">
	 <script>
	 $(function(){
		 
		 $(document).on('click', '#updateBtn', function(){
			 var mMileageCode =$('#mMileageCode').val();
			 var member_Id = $('#member_Id').val();
			 var orderDetailCode = $('#orderDetailCode').val();
			 var mileageDistinct = $('#mileageDistinct').val();
			 var addedUsedMileage = $('#addedUsedMileage').val();
			 var currentMileage = $('#currentMileage').val();
			 var orderGroupCode = $('#orderGroupCode').val();
			 // ajax 선언      
			 var request = $.ajax({          
				 type: "POST",   // 요청 메소드 타입          
				 url: "/ks44team02/giveMileageForm", // 접속 url
				 data: {'mMileageCode' : mMileageCode,
					 'member_Id' : member_Id,
					 'orderDetailCode' : orderDetailCode,
					 'mileageDistinct' : mileageDistinct,
					 'addedUsedMileage' : addedUsedMileage,
					 'currentMileage' : currentMileage,
					 'orderGroupCode' : orderGroupCode},
				 dataType: 'json' // 응답 메시지의 타입       
				 });        
			 // 결과        
			 request.done(function(data){
			
				console.log(data);
				console.log("done");
				

			
			 });     
		 });
		 
	});    	
	 
	 
	 $(function(){
			 
			 $(document).on('click', '#searchBtn', function(){
				 var memberId = $('#memberId').val();
				 
				 // ajax 선언      
				 var request = $.ajax({          
					 type: "GET",   // 요청 메소드 타입          
					 url: "/admin/mileageManage/mileageList", // 접속 url
					 data: {'memberId' : memberId},
					 dataType: 'json' // 응답 메시지의 타입       
					 });        
				 // 결과        
				 request.done(function(data){
					 console.log("good");
					 var mileageList = data;
					 var tBody = $('#tBody');					 
					 var html = '';

					 if(typeof mileageList != 'undefined' && mileageList != null){
						 for(let userMileage of mileageList){
							html += '<tr>';
							html += '	<td>' + userMileage.memberId + '</td>'; 
							html += '	<td>' + userMileage.orderDetailCode + '</td>'; 
							html += '	<td>' + userMileage.currentMileage + '</td>'; 
							html += '	<td>' + userMileage.mileageDistinct + '</td>'; 
							html += '	<td>' + userMileage.addedUsedMileage + '</td>'; 
							html += '	<td>' + userMileage.mUpdateDatetime + '</td>';
							html += '</tr>';
						 }
					 }
					 
					 tBody.html(html);
				 });     
			 });
			 
		});    
	 </script>
</th:block>



</html>