<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 js file  -->
<th:block layout:fragment="customTopJs">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			var msg = [[${msg}]];
			
			if(msg!=null) alert(msg);
			
		});
	</script>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<h4>상품 목록</h4>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<div class="card">
					<div class="card-block">
						<div class="table-responsive">
							<table class="table m-b-0 photo-table">
								<thead>
									<tr>
										<th>번호</th>
										<th>메인이미지</th>
										<th>판매사</th>
										<th>카테고리</th>
										<th>상품명</th>
										<th>가격</th>
										<th>적용 할인 혜택</th>
										<th>할인 혜택 적용 후 가격</th>
										<th>중량</th>
										<th>중량 단위</th>
										<th>원산지</th>
										<th>제조일/유통기한</th>
										<th>재고</th>
										<th>배송비</th>
										<th>등록일자</th>
										<th>판매여부</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(goodsList)}"
										th:each="gcl, status : ${goodsList}">
										<td th:text="${status.count}"></td>
										<td><img th:src="@{'/' + ${gcl.filePath}}"
											th:alt="${gcl.fileOriginalName}" style="width: 100px;"/></td>
									</tr>
									<tr th:unless="${not #lists.isEmpty(goodsCategoryList)}">
										<td colspan="16" style="text-align: center;">상품 카테고리가
											존재하지 않습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
						<a th:href="@{/admin/goods/category/goodscate_reg}"><button
								class="btn btn-info waves-effect waves-light"
								style="float: right;" type="button">등록</button></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>