<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">
	<link rel="stylesheet"
		th:href="@{/admin/assets/plugins/select2/dist/css/select2.min.css}">
	<link rel="stylesheet" type="text/css"
		th:href="@{/admin/assets/plugins/select2/css/s2-docs.css}">
</th:block>

<!-- 사용자 정의 js file  -->
<th:block layout:fragment="customTopJs">
	<script type="text/javascript" th:inline="javascript">

		var msg = [[${msg}]];
		
		if(msg!=null) alert(msg);
		

	</script>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row col-sm-3" style="padding-right: 5;">
			<h4>주문서별 할인혜택 목록</h4>
		</div>
		<div class="col-sm-5">
		<button type="button" class="btn btn-default waves-effect" 
		data-toggle="tooltip" data-placement="right" title data-original-title="sellect radio에 검색조건 입력 및 선택, inpot box에 조건 별 검색어 입력 후 검색버튼 클릭, 빈칸일때 검색버튼 누르면 목록 초기화, 수정/삭제/등록 버튼 누르면 각각의 페이지로 이동">사용자 메뉴얼</button> 
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<div class="card">
					<div class="card-block">
						<div class="table-responsive">
							<div th:include="admin/orderDiscount/searchOrderDiscountList :: searchFragment" style="margin-bottom: 15px;"></div>
							<table class="table m-b-0 photo-table">
								<thead>
									<tr>
										<th>할인명</th>
										<th>할인율/할인금액</th>
										<th>최소주문금액</th>
										<th>최대할인금액</th>
										<th>등록일자</th>
										<th>수정</th>
										<th>삭제</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(orderDiscountList)}"
										th:each="odl : ${orderDiscountList}">
										<td th:text="${odl.discountName}"></td>
										<td th:if="${odl.discountRate} != 0" th:text="${odl.discountRate}+'%'"></td>
										<td th:if="${odl.discountPrice} != 0" th:text="'₩'+${odl.discountPrice}"></td>
										<td th:text="${odl.minOrderPrice}"></td>
										<td th:text="${odl.maxDiscountPrice}"></td>
										<td th:text="${odl.gProductionRegDateTime}"></td>
										<td><a
											th:href="@{|/admin/orderDiscount/modifyOrderDiscount/${odl.orderDiscountCode}|}">수정</a></td>
										<td><a
											th:href="@{|/admin/orderDiscount/removeOrderDiscount/${odl.orderDiscountCode}|}">삭제</a></td>
									</tr>
									<tr th:unless="${not #lists.isEmpty(orderDiscountList)}">
										<td colspan="5" style="text-align: center;">주문서별 할인혜택이 존재하지
											않습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
						<a th:href="@{/admin/orderDiscount/addOrderDiscount}"><button
								class="btn btn-info waves-effect waves-light"
								style="float: right;" type="submit">등록</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customFootJs">
	<!-- Select 2 js -->
	<script src="/admin/assets/plugins/select2/dist/js/select2.full.min.js"></script>
	<script type="text/javascript" src="/admin/assets/pages/elements.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".js-example-basic-single").select2();
			$(".js-example-basic-single2").select2();
		});
	</script>
</th:block>

</html>