<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/buyerDefault}">

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 css -->
<th:block layout:fragment="customCss">
<style>

a:link {
  color : black;
}
a:visited {
  color : black;
}
a:hover {
  color : #7fad39;
}

</style>
</th:block>



<!-- start breadcrum section -->
<th:block layout:fragment="customBreadCrum">
	<section class="breadcrumb-section set-bg"
		data-setbg="/user/img/breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>MY ORDER</h2>
						<div class="breadcrumb__option">
							<a th:href="@{/}">Home</a><span>my order</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
<!-- end breadcrum section -->

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 p-0">
				<div class="main-header">
					<h4>주문리스트</h4>
					<span style="font-size: 17px; font-style: italic;">
						> 주문한 상품 클릭시 상세주문서내역으로 이동합니다.
					</span>
				</div>
			</div>
		</div>	
		
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<table class="table table-hover" style="margin-top: 10px;">
					<thead>
						<tr>
							<th></th>
							<th>ITEM</th>
							<th>총 배송비</th>
							<th>총 결제금액</th>
							<th>전체주문일자</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(getOrderList)}"
							th:each="orl : ${getOrderList}" style="line-height: 50px;">
							<td style="width: 200px;"><img
								th:src="@{'/' + ${orl.get('mainImagePath')}}"
								th:alt="${orl.get('mainImageOriName')}"
								style="width: 100px; border-radius: 10px;" /></td>
							<td><a
								th:href="@{/buyer/mypage/orderStatus/myOrderDeliveryDetail(orderGroupCode=${orl.orderGroupCode})}"  th:text="${orl.get('goodsName')}">
							</a></td>
							<td th:text="'+ ' + ${orl.get('deliTotal')} + '원'"></td>
							<td th:text="${orl.get('finalPrice')} + '원'"></td>
							<td th:text="${orl.get('orderDatetime')}"></td>
							
						</tr>
						<tr th:unless="${not #lists.isEmpty(getOrderList)}">
							<td colspan="5" style="text-align: center;">주문 내역이 존재하지않습니다.
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</th:block>

</html>
