<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/buyerDefault}">

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>


<!-- start breadcrum section -->
<th:block layout:fragment="customBreadCrum">
	<section class="breadcrumb-section set-bg"
		data-setbg="/user/img/breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>상세주문리스트</h2>
						<div class="breadcrumb__option">
							<a th:href="@{/}">Home</a><span>my order detail</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
<!-- end breadcrum section -->


<!-- 사용자 정의 css  -->
<th:block layout:fragment="customCss">
<style>
	.heading1  {
	padding-left: 10px;
	position: relative;
    margin: 0 0 10px;
	}
	
	.heading2{
	padding-left: 10px;
	position: relative;
	margin: 80px 0 10px;
	}
	.heading3{
	padding-left: 10px;
	position: relative;
	margin: 30px 0 10px;
	}
</style>
</th:block>


<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="heading1">
		<h4>주문상세정보</h4>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				
				<table class="table table-hover">
				  <thead>
				    <tr>
						<th></th>
						<th>ITEM</th>
						<th>수량</th>
						<th>상품가격</th>
						<th>배송비</th>
						<th>업체</th>
						<th>주문상태</th>
						<th>운송장번호</th>
					</tr>
				 </thead>
					<tbody>
						<tr th:each="odl : ${getOrderDetailList}"  style="line-height: 70px;">
							<td><a th:href="@{|/buyer/goods/goodsDetail/${odl.goodsCode}|}"><img th:src="@{'/' + ${odl.get('mainImagePath')}}"
											th:alt="${odl.get('mainImageOriName')}" style="width: 100px; border-radius: 10px;"/></a></td>
							<td th:text="${odl.get('goodsName')}"></td>
							<td th:text="${odl.get('orderAmount')}"></td>
							<td th:text="${odl.get('regularPriceSubtotal')} + '원'"></td>
							<td th:text="'+ ' + ${odl.get('deliCharge')} + '원'"></td>
							<td th:text="${odl.get('entName')}"></td>
							<td th:text="${odl.get('orderStatusStandardDetails')}"></td>
							<td th:text="${odl.get('deliveryNumber')}"></td>
						</tr>
					</tbody>
				</table>
	
			</div>
		</div>
	</div>
	
	<div class="card-block">
		<div class="row">
			<div class="col-lg-6">
			<h4 style="margin-top: 30px;">배송정보</h4>
				<table class="table" style="float: left;">
				  <tbody>
				    <tr>
						<th>수령인</th>
						<td th:text="${getDeliveryinfo.get('deliName')}"></td>	
						<th>연락처</th>
						<td th:text="${getDeliveryinfo.get('deliPhone')}"></td>			
					</tr>
					<tr>
						<th>배송지</th>
						<td th:text="${getDeliveryinfo.get('deliAddress')}"></td>		
						<th>배송메모</th>
						<td th:text="${getDeliveryinfo.get('deliMemo')}"></td>	
					</tr>
			      </tbody>
				</table>
			</div>
			<div class="col-lg-6">
				<h4 style="margin-top: 30px;">결제정보</h4>
				<table class="table"  style="width: 100%; float: left;">
						 <tbody>
							    <tr>
							   		<th>은행사</th>
									<td th:text="${getPaymentList.get('paymentBank')}"></td>
									<th>소계 </th>
									<td th:text="${getPaymentList.get('subtotalPrice')} + '원'"></td>
								</tr>
								<tr>
									<th>결제정보</th>
									<td th:text="${getPaymentList.get('paymentInputNumber')}"></td>	
									<th>할인금액</th>
									<td th:text="'- ' + ${getPaymentList.get('disAddPrice')} + '원'"></td>
								</tr>
								<tr>
									<th>결제자명 </th>
									<td th:text="${getPaymentList.get('paymentPayer')}"></td>
									<th>배송비 </th>
									<td th:text="'+	' + ${getPaymentList.get('gDeliveryCharge')} + '원'"></td>
								</tr>
								<tr>
									<th>총 결제금액</th>
									<td th:text="${getPaymentList.get('paymentCash')} + '원'"></td>
								</tr>
						      </tbody>
				</table>
			</div>
		</div>
	</div>
</th:block>
</html>
