<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 js file  -->
<th:block layout:fragment="customTopJs">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			var msg = [[${msg}]];
			
			if(msg!=null) alert(msg);
			
		});
	</script>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 p-0">
				<div class="main-header">
				<h4>입점 신청 리스트</h4>
					<ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
						<li class="breadcrumb-item"><a th:href="@{/admin}"><i
							class="icofont icofont-home"></i></a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/companypage/sellerCompanyList}">입점 신청 정보</a></li>
					</ol>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<div class="card">
					<div class="card-block">
						<div class="table-responsive">
							<table class="table m-b-0 photo-table">
								<thead>
									<tr>
										<th>No.</th>
										<th>신청코드</th>
										<th>판매자ID</th>
										<th>브랜드</th>
										<th>업체명</th>
										<th>사업자등록번호</th>
										<th>이름</th>
										<th>전화번호</th>
										<th>회사주소</th>
										<th>회사소개</th>
										<th>상품 신청서</th>
										<th>홈페이지</th>
										<th>입점 신청 파일</th>
										<th>신청일자</th>
										<th>승인</th>
										<th>수정</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(sellerCompanyList)}"
										th:each="scc, status : ${sellerCompanyList}">
										<td th:text="${status.count}"></td>
										<td th:text="${scc.sellerCode}"></td>
										<td th:text="${scc.sellerId}"></td>
										<td th:text="${scc.sellerBrand}"></td>
										<td th:text="${scc.sellerEnter}"></td>
										<td th:text="${scc.sellerNum}"></td>
										<td th:text="${scc.sellerManager}"></td>
										<td th:text="${scc.sellerPhone}"></td>
										<td th:text="${scc.sellerAdd}"></td>
										<td th:text="${scc.sellerContent}"></td>
										<td th:text="${scc.sellerHwp}"></td>
										<td th:text="${scc.sellerUrl}"></td>
										<td th:text="${scc.sellerFile}"></td>
										<td th:text="${scc.sellerDate}"></td>
										<td th:text="${scc.sellerApp}"></td>
										<td><a href="#">수정</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>