<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 js file  -->
<th:block layout:fragment="customTopJs">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			var msg = [[${msg}]];
			
			if(msg!=null) alert(msg);
			
		});
	</script>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 p-0">
				<div class="main-header">
				<h4>입점 업체 리스트</h4>
					<ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
						<li class="breadcrumb-item"><a th:href="@{/admin}"><i
							class="icofont icofont-home"></i></a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/companypage/sellerCompanyDetail}">입점 업체 정보</a></li>
					</ol>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<div class="card">
					<div class="card-block">
						<div class="table-responsive">
							<table class="table m-b-0 photo-table">
								<thead>
									<tr>
										<th>No.</th>
										<th>입점업체코드</th>
										<th>ID</th>
										<th>브랜드</th>
										<th>업체명</th>
										<th>주소</th>
										<th>연락처</th>
										<th>입점일자</th>
										<th>사업자등록번호</th>
										<th>판매자 등급</th>
										<th>등록한 상품</th>
										<th>탈퇴 상태</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(sellerCompanyDetail)}"
										th:each="scc, status : ${sellerCompanyDetail}">
										<td th:text="${status.count}"></td>
										<td th:text="${scc.enterCode}"></td>
										<td th:text="${scc.enterId}"></td>
										<td th:text="${scc.enterBrand}"></td>
										<td th:text="${scc.enterName}"></td>
										<td th:text="${scc.enterAdd}"></td>
										<td th:text="${scc.enterNum}"></td>
										<td th:text="${scc.enterDate}"></td>
										<td th:text="${scc.enterBusinessNum}"></td>
										<td th:text="${scc.enterLevelCode}"></td>
										<td th:text="${scc.enterProducts}"></td>
										<td th:text="${scc.enterWithdraw}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>