<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 상품별 할인혜택 목록  -->

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 css  -->
<th:block layout:fragment="customCss">
	<link rel="stylesheet"
		th:href="@{/admin/assets/plugins/select2/dist/css/select2.min.css}">
	<link rel="stylesheet" type="text/css"
		th:href="@{/admin/assets/plugins/select2/css/s2-docs.css}">
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 p-0">
				<div class="main-header">
					<h4>할인 혜택 목록</h4>
					<ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
						<li class="breadcrumb-item"><a th:href="@{/admin}"><i
								class="icofont icofont-home"></i></a></li>
						<li class="breadcrumb-item"><a
							th:href="@{/admin/goods/discount/goodsDiscountList}">할인 혜택 목록</a></li>
					</ol>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<div class="card">
					<div class="card-block">
							<div th:replace="admin/goods/search/searchGoodsDiscountList :: searchFragment"
								style="margin-bottom: 10px;"></div>
						<div class="table-responsive">
							<table class="table m-b-0 photo-table">
								<thead>
									<tr>
										<th>할인명</th>
										<th>할인율/할인금액</th>
										<th>유효기간</th>
										<th>등록자ID</th>
										<th>등록사/관리자</th>
										<th>판매사 전화번호</th>
										<th>등록일자</th>
										<th>수정</th>
										<th>삭제</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(goodsDiscountList)}"
										th:each="gdl : ${goodsDiscountList}">
										<th:block
											th:unless="${gdl.goodsDiscountRate} == 0 and ${gdl.goodsDiscountPrice} == 0">
											<td th:text="${gdl.goodsDiscountName}"></td>
											<td th:if="${gdl.goodsDiscountRate} != 0"
												th:text="${gdl.goodsDiscountRate}+'%'"></td>
											<td th:if="${gdl.goodsDiscountPrice} != 0"
												th:text="'₩'+${gdl.goodsDiscountPrice}"></td>
											<td th:text="${gdl.goodsDiscountExpirationDate}"></td>
											<td th:text="${gdl.goodsDiscountRegistrant}"></td>
											<th:block th:if="${not #lists.isEmpty(gdl.enterprise)}">
												<td th:text="${gdl.enterprise.enterName}"></td>
												<td th:text="${gdl.enterprise.enterNum}"></td>
											</th:block>
											<th:block th:unless="${not #lists.isEmpty(gdl.enterprise)}">
												<td>관리자</td>
												<td>N/A</td>
											</th:block>
											<td th:text="${gdl.goodsDiscountRegDatetime}"></td>
											<td><a
												th:href="@{|/admin/goods/discount/updateGoodsDiscount/${gdl.goodsDiscountCode}|}">수정</a></td>
											<td><a
												th:href="@{|/admin/goods/discount/removeGoodsDiscount/${gdl.goodsDiscountCode}|}">삭제</a></td>
										</th:block>
									</tr>
									<tr th:unless="${not #lists.isEmpty(goodsDiscountList)}">
										<td colspan="8" style="text-align: center;">주문서별 할인혜택이
											존재하지 않습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
						<a th:href="@{/admin/goods/discount/regGoodsDiscount}"><button
								style="float: right; margin-top: 10px;"
								class="btn btn-info waves-effect waves-light" type="button">등록</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<!-- 사용자 정의 js 하단  -->
<th:block layout:fragment="customFootJs">
	<script src="/admin/assets/plugins/select2/dist/js/select2.full.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			var msg = [[${msg}]];
			
			if(msg!=null) alert(msg);
			
			$(".js-example-basic-single").select2();
			
			$('#searchKey').change(function(){
				console.log('바뀜');
				var searchKey = $(this).val();
				console.log(searchKey);
				if(searchKey == 'discountRate' || searchKey == 'discountPrice'){
					$('#seachBox .searchValueBox').css('display', 'none');
					$('.minNum').css('display', 'block');
					$('.maxNum').css('display', 'block');
				}else if(searchKey == 'expirationDate' || searchKey == 'regDate'){
					$('#seachBox .searchValueBox').css('display', 'none');
					$('.minDate').css('display', 'block');
					$('.maxDate').css('display', 'block');
				}else{
					$('#seachBox .searchValueBox').css('display', 'none');
					$('.searchText').css('display', 'block');
				}
			});
		});
	</script>
</th:block>

</html>