<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 상품별 할인혜택 목록  -->

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<h4>상품별 할인혜택 목록</h4>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<div class="card">
					<div class="card-block">
						<div class="table-responsive">
							<table class="table m-b-0 photo-table">
								<thead>
									<tr>
										<th>No.</th>
										<th>할인 금액/할인율</th>
										<th>할인명</th>
										<th>유효기간</th>
										<th>등록자아이디</th>
										<th>등록 일시</th>
										<th>수정</th>
										<th>삭제</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${not #lists.isEmpty(goodsCategoryList)}"
										th:each="gcl : ${goodsCategoryList}">
										<td th:text="${gcl.goodsCategoryName}"></td>
										<td th:text="${gcl.goodsCategoryRegDate}"></td>
										<td th:if="${gcl.goodsCategoryStatus} == 1">사용중</td>
										<td th:unless="${gcl.goodsCategoryStatus} == 1">사용정지</td>
										<td><a
											th:href="@{|/admin/goods/category/goodscate_update/${gcl.goodsCategoryCode}|}">수정</a></td>
										<td><a
											th:href="@{|/admin/goods/category/goodscate_remove/${gcl.goodsCategoryCode}|}">삭제</a></td>
									</tr>
									<tr th:unless="${not #lists.isEmpty(goodsCategoryList)}">
										<td colspan="5" style="text-align: center;">상품 카테고리가 존재하지
											않습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
						<a th:href="@{/admin/goods/category/goodscate_reg}"><button
								class="btn btn-info waves-effect waves-light"
								style="float: right;" type="button">등록</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>


</html>