<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 js file  -->
<th:block layout:fragment="customTopJs">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			var msg = [[${msg}]];
			
			if(msg!=null) alert(msg);
			
		});
	</script>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="container-fluid">
		<div class="row">
			<h4>판매자 등급 리스트</h4>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<div class="card">
					<div class="card-block">
						<a th:href="@{/admin/gradeDetails/buyer_gradelist}"><button
								class="btn btn-info waves-effect waves-light"
								style="float: right;" type="button">구매자 등급 리스트</button></a>
						
						<div class="table-responsive">
							<table class="table m-b-0 photo-table">
								<thead>
									<tr>
										<th><input type="checkbox" value="che"></th>
										<th>구분</th>
										<th>등급코드</th>
										<th>등급이름</th>
										<th>등급 기준(3개월 판매 누적 금액)</th>
										<th>등록 가능 상품수</th>
										<th>수수료</th>
									</tr>
								</thead>
								<tbody> 
									<tr th:if="${not #lists.isEmpty(sellerGradeList)}"
										th:each="sgl : ${sellerGradeList}">
										<td><input type="checkbox" value="che"></td>
										<td th:text="${sgl.memberLevelClassName}"></td>
										<td th:text="${sgl.memberLevelCode}"></td>
										<td th:text="${sgl.memberLevelName}"></td>
										<td th:text="${sgl.sellerLevel.sellerCondition}"></td>
										<td th:text="${sgl.sellerLevel.canRegAmt}"></td>
										<td th:text="${sgl.sellerLevel.sellerMileage}"></td>
									</tr>
								</tbody>
							</table>
						</div>
	
						<a th:href="@{/admin/gradeDetails/seller_modifylist}"><button
								class="btn btn-info waves-effect waves-light"
								style="float: right;" type="button">수정</button></a>
								
						<a th:href="@{/admin/gradeDetails/seller_removelist}"><button
								class="btn btn-info waves-effect waves-light"
								style="float: right;" type="button">삭제</button></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>