<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/sellerDefault}">

<!-- start breadcrum section -->
<th:block layout:fragment="customBreadCrum">
	<section class="breadcrumb-section set-bg"
		data-setbg="/user/img/breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>판매 상품 조회</h2>
						<div class="breadcrumb__option">
							<a th:href="@{/seller}">Home</a><span>Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
<!-- end breadcrum section -->

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	
		<table style="width: 100%;">
			<thead>
				<tr>
					<th>썸네일</th>
					<th>카테고리</th>
					<th>이름</th>
					<th>원가격</th>
					<th>할인혜택</th>
					<th>할인가격</th>
					<th>원산지</th>
					<th>제조일자</th>
					<th>유통기한</th>
					<th>등록일자</th>
					<th>재고</th>
					<th>배송비</th>
					<th>상품상세페이지</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img alt="모나리자"></td>
					<td>카테고리</td>
					<td>이름</td>
					<td>원래가격</td>
					<td>적용할인혜택</td>
					<td>할인가격</td>
					<td>원산지</td>
					<td>제조일자</td>
					<td>유통기한</td>
					<td>판매등록일자</td>
					<td>재고</td>
					<td>배송비</td>
					<td><a>방문</a></td>
					<td><a class="primary-btn" style="width: 70%;">수정</a></td>
					<td><a><button>삭제</button></a></td>
				</tr>
			</tbody>
		</table>

</th:block>

</html>