<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/sellerDefault}">

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 css  -->
<th:block layout:fragment="customCss">
	<style>
		.nice-select {
			margin-bottom: 24px;
		}
	</style>
</th:block>

<!-- start breadcrum section -->
<th:block layout:fragment="customBreadCrum">
	<section class="breadcrumb-section set-bg"
		data-setbg="/user/img/breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>상품 등록 신청</h2>
						<div class="breadcrumb__option">
							<a th:href="@{/seller}">Home</a><span>Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
<!-- end breadcrum section -->



<th:block layout:fragment="customContents">
	<section class="checkout spad">
		<div class="container">
			<div class="checkout__form">
				<h4>상품 등록 신청</h4>
				<form action="#" method="post">
					<div class="row">
						<div class="col-lg-8 col-md-6">
							<div class="row">
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											상품 카테고리<span>*</span>
										</p>
										<select>
											<option>상품 카테고리를 선택해주세요.</option>
										</select>
									</div>
								</div>
							</div>
							<div class="checkout__input">
								<p>
									상품명<span>*</span>
								</p>
								<input type="text">
							</div>
							<div class="checkout__input">
								<p>
									상품 가격<span>*</span>
								</p>
								<input type="number">
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="checkout__input">
										<p>
											적용 할인 혜택<span>*</span>
										</p>
										<select>
											<option>적용할 할인 혜택을 선택해주세요.</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 mt10">
									<div class="checkout__input">
										<p>
											원산지<span>*</span>
										</p>
										<input type="text">
									</div>
									<div class="checkout__input">
										<p>
											제조일자<span>*</span>
										</p>
										<select>
											<option>컨텐츠 포함</option>
											<option>직접 작성하기</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											재고<span>*</span>
										</p>
										<input type="number">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											배송비<span>*</span>
										</p>
										<input type="text">
									</div>
								</div>
							</div>
							<div class="checkout__input__checkbox">
								<label for="acc"> Create an account? <input
									type="checkbox" id="acc"> <span class="checkmark"></span>
								</label>
							</div>
							<p>Create an account by entering the information below. If
								you are a returning customer please login at the top of the page</p>
							<div class="checkout__input">
								<p>
									Account Password<span>*</span>
								</p>
								<input type="text">
							</div>
							<div class="checkout__input__checkbox">
								<label for="diff-acc"> Ship to a different address? <input
									type="checkbox" id="diff-acc"> <span class="checkmark"></span>
								</label>
							</div>
							<div class="checkout__input">
								<p>
									Order notes<span>*</span>
								</p>
								<input type="text"
									placeholder="Notes about your order, e.g. special notes for delivery.">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</th:block>


</html>