<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/sellerDefault}">

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 css  -->
<th:block layout:fragment="customCss">
	<style>
.nice-select {
	margin-bottom: 24px;
}

.filebox .upload-name {
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 78%;
	color: #999999;
}

.filebox label {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	vertical-align: middle;
	background-color: #999999;
	cursor: pointer;
	height: 40px;
	margin-left: 10px;
}

.filebox input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}
</style>
</th:block>

<!-- start breadcrum section -->
<th:block layout:fragment="customBreadCrum">
	<section class="breadcrumb-section set-bg"
		data-setbg="/user/img/breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>상품 등록 신청</h2>
						<div class="breadcrumb__option">
							<a th:href="@{/seller}">Home</a><span>Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
<!-- end breadcrum section -->



<th:block layout:fragment="customContents">
	<section class="checkout spad">
		<div class="container">
			<form action="#" method="post">
				<div class="checkout__form">
					<h4>상품 등록</h4>
					<div class="row">
						<div class="col-lg-8 col-md-6">
							<div class="row">
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											상품 카테고리<span>*</span>
										</p>
										<select>
											<option>상품 카테고리를 선택해주세요.</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="checkout__input">
										<p>상품 썸네일 이미지 업로드</p>
										<div class="filebox">
											<input class="upload-name" id="goodsMainImageName" placeholder="상품 썸네일 이미지(*.gif, *.jpg, *.png)" > <label
												for="goodsMainImage" style="margin-top: 8px;">파일찾기</label> <input
												type="file" id="goodsMainImage" class="imageUpload" accept=".gif, .jpg, .png">
										</div>
									</div>
								</div>
							</div>
							<div class="checkout__input">
								<p>
									상품명<span>*</span>
								</p>
								<input type="text">
							</div>
							<div class="checkout__input">
								<p>
									상품 가격<span>*</span>
								</p>
								<input type="number">
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="checkout__input">
										<p>
											적용 할인 혜택<span>*</span>
										</p>
										<select>
											<option>적용할 할인 혜택을 선택해주세요.</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 mt10">
									<div class="checkout__input">
										<p>
											원산지<span>*</span>
										</p>
										<input type="text">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="checkout__input col-lg-3">
									<p>제조일자</p>
									<select>
										<option value="manuImage">컨텐츠 포함</option>
										<option value="manuText">직접 작성하기</option>
									</select>
								</div>
								<div id="manuText" class="checkout__input col-lg-9"
									style="margin-top: 46px; display: none; padding-left: 0;">
									<input type="date" placeholder="제조일자" style="height: 42px;">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="checkout__input">
										<p>상품 소개 이미지 업로드</p>
										<div class="filebox">
											<input class="upload-name" id="goodsInfoImageName" placeholder="상품 소개 이미지(*.gif, *.jpg, *.png)"> <label
												for="goodsInfoImage" style="margin-top: 8px;">파일찾기</label> <input
												type="file" id="goodsInfoImage" class="imageUpload" accept=".gif, .jpg, .png">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											재고<span>*</span>
										</p>
										<input type="number">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											배송비<span>*</span>
										</p>
										<input type="number">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											영양 성분 표시<span>*</span>
										</p>
										<select id="goodsIngredientSelect">
											<option value="giText">직접 작성</option>
											<option value="giImage" selected="selected">컨텐츠 포함 및
												표시 대상 아님</option>
										</select>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div id="goodsIngredient" class="checkout__form"
					style="margin-top: 15px; display: none;">
					<h4>상품 영양 정보</h4>
					<div class="row">
						<div class="col-lg-6">
							<div class="checkout__input">
								<p>
									열량<span>*</span>
								</p>
								<input type="number">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="checkout__input">
								<p>
									탄수화물<span>*</span>
								</p>
								<input type="number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="checkout__input">
								<p>
									당류<span>*</span>
								</p>
								<input type="number">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="checkout__input">
								<p>
									단백질<span>*</span>
								</p>
								<input type="number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="checkout__input">
								<p>
									지방<span>*</span>
								</p>
								<input type="number">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="checkout__input">
								<p>
									포화 지방<span>*</span>
								</p>
								<input type="number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="checkout__input">
								<p>
									트랜스 지방<span>*</span>
								</p>
								<input type="number">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="checkout__input">
								<p>
									콜레스테롤<span>*</span>
								</p>
								<input type="number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="checkout__input">
								<p>
									나트륨<span>*</span>
								</p>
								<input type="number">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="checkout__input">
								<p>
									칼슘<span>*</span>
								</p>
								<input type="number">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</th:block>

<!-- 사용자 정의 js 하단  -->
<th:block layout:fragment="customFootjs}">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript">
		$(function() {
			
			$('.imageUpload').change(function(){
				var imageName = $(this).val().split('\\');
				imageName = imageName[imageName.length - 1];
				console.log(imageName);
				$(this).parent().find('.upload-name').val(imageName);
			});
			
			$('.nice-select li').click(function() {
				var selectValue = $(this).attr('data-value');

				if (selectValue == 'giText') {
					$('#goodsIngredient').css('display', 'block');
				} else {
					$('#goodsIngredient').css('display', 'none');
				}

				if (selectValue == 'manuText') {
					$('#manuText').css('display', 'block');
				} else {
					$('#manuText').css('display', 'none');
				}
			});
		});
	</script>
</th:block>

</html>