<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block>
<style>
.searchBtn{
	border: none;
	padding: 5px 10px;
	color: #fff;
	font-weight: bold;
	width: 100%;
	background-color: #DFE0E0;
		}
</style>

</th:block>

	<!-- 검색바 -->
	<div th:fragment="searchFragment">
		<form th:action="@{/seller/order/sellerOrderDeliveryAllList}" method="post">
			<select name="searchKey">
				<option value="goodsName">상품명</option>
				<option value="orderStatusStandardDetails">배송상태</option>
			</select>
			<input type="text" name="searchValue" placeholder="검색어를 입력해주세요."/>
			<button type="submit" class="searchBtn">검색</button>
		</form>
	</div>
</html>