<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- aside 메뉴  -->
<div id="leftcolumn" th:fragment="adminAsideFragment">
	<aside class="main-sidebar hidden-print ">
		<section class="sidebar" id="sidebar-scroll">
			<!-- Sidebar Menu-->
			<ul class="sidebar-menu">

				<li class="nav-level">--- 관리</li>
				<li class="treeview"><a class="waves-effect waves-dark"
					href="#"><i class="icon-briefcase"></i><span>#회원 관리</span><i
						class="icon-arrow-down"></i></a>
					<ul class="treeview-menu">
						<li><a class="waves-effect waves-dark" th:href="@{/admin/login/admin_login_reg_form}"><i
								class="icon-arrow-right"></i>#회원등록</a></li>
						<li><a class="waves-effect waves-dark" th:href="@{/admin/login/member_list_admin}"><i
								class="icon-arrow-right"></i>#회원 조회/검색</a></li>
						<li><a class="waves-effect waves-dark" th:href="@{/admin/gradeDetails/buyer_gradelist}"><i	
								class="icon-arrow-right"></i>#등급관리</a></li>
					</ul></li>

				<li class="treeview"><a class="waves-effect waves-dark"
					href="#"><i class="icon-chart"></i><span>#입점 업체 관리</span></a></li>

				<li class="treeview"><a class="waves-effect waves-dark"
					href="#"><i class="icon-book-open"></i><span>#매출 현황</span><i
						class="icon-arrow-down"></i></a>
					<ul class="treeview-menu">
						<li><a class="waves-effect waves-dark" href="#"><i
								class="icon-arrow-right"></i>#판매자 매출</a></li>

						<li><a class="waves-effect waves-dark" href="#"><i
								class="icon-arrow-right"></i>#관리자 매출</a></li>
					</ul></li>

				<li class="treeview"><a class="waves-effect waves-dark"
					href="#"><i class="ti-menu"></i><span>#상품 관리</span><i
						class="icon-arrow-down"></i></a>
					<ul class="treeview-menu">
						<li><a class="waves-effect waves-dark" th:href="@{/admin/goods/category/goodscate_list}"><i
								class="icon-arrow-right"></i>#카테고리 조회</a></li>
						<li><a class="waves-effect waves-dark" th:href="@{/admin/goods/goods_list_admin}"><i
								class="icon-arrow-right"></i>#판매 상품 조회</a></li>
						<li><a class="waves-effect waves-dark" th:href="@{/admin/goods/goods_reg_apply_list}"><i
								class="icon-arrow-right"></i>#상품 등록 신청 조회</a></li>
					</ul></li>

				<li class="treeview"><a class="waves-effect waves-dark"
					href="#"><i class="icon-list"></i><span>#식단 관리</span><i
						class="icon-arrow-down"></i> </a>
					<ul class="treeview-menu">
						<li><a class="waves-effect waves-dark" th:href="@{/admin/goods/menu/menu_reg_form}"><i
								class="icon-arrow-right"></i>#신규 식단 등록</a></li>
						<li><a class="waves-effect waves-dark" th:href="@{/admin/goods/menu/menu_list}"><i
								class="icon-arrow-right"></i>#판매 식단 목록</a></li>
					</ul></li>
				<li class="treeview"><a class="waves-effect waves-dark"
					href="#"> <i class="icon-list"></i><span>#할인혜택 관리</span><i
						class="icon-arrow-down"></i>
				</a>
					<ul class="treeview-menu">
						<li><a class="waves-effect waves-dark" href="#"><i
								class="icon-arrow-right"></i>#상품별 할인 혜택<i
								class="icon-arrow-down"></i></a>
							<ul class="treeview-menu">
								<li><a class="waves-effect waves-dark" th:href="@{/admin/goods/discount/goods_discount_list}"><i
										class="icon-arrow-right"></i>#할인 혜택 조회</a></li>
								<li><a class="waves-effect waves-dark" th:href="@{/admin/goods/discount/goods_discount_reg_form}"><i
										class="icon-arrow-right"></i>#신규 할인 혜택 등록</a></li>
							</ul></li>
						<li><a class="waves-effect waves-dark" href="#"><i
								class="icon-arrow-right"></i>#주문서별 할인 혜택<i
								class="icon-arrow-down"></i></a>
							<ul class="treeview-menu">
								<li><a class="waves-effect waves-dark" th:href="@{/admin/orderDiscount/add_order_discount}"><i
										class="icon-arrow-right"></i>#신규 할인 혜택 등록</a></li>
								<li><a class="waves-effect waves-dark" th:href="@{/admin/orderDiscount/order_discount_list}"><i
										class="icon-arrow-right"></i>#할인 혜택 조회</a></li>
							</ul></li>
					</ul></li>
				<li class="treeview"><a class="waves-effect waves-dark"
					href="#"> <i class="icon-list"></i><span>#문의 사항 관리</span><i
						class="icon-arrow-down"></i>
				</a>
					<ul class="treeview-menu">
						<li><a class="waves-effect waves-dark" href="#"><i
								class="icon-arrow-right"></i>#QnA</a></li>
						<li><a class="waves-effect waves-dark" href="#"><i
								class="icon-arrow-right"></i>#신고</a></li>
					</ul></li>
				<li class="treeview"><a class="waves-effect waves-dark"
					href="#"> <i class="icon-list"></i><span>#환불/교환 사유 관리</span><i
						class="icon-arrow-down"></i>
				</a>
					<ul class="treeview-menu">
						<li><a class="waves-effect waves-dark" th:href="@{/admin/order/refund_exchange_reason_list}"><i
								class="icon-arrow-right"></i>#환불/교환 사유 조회</a></li>
						<li><a class="waves-effect waves-dark" th:href="@{/admin/order/refund_exchange_reason_add}"><i
								class="icon-arrow-right"></i>#환불/교환 사유 등록</a></li>
					</ul></li>	
					
				<li class="treeview"><a class="waves-effect waves-dark"
					href="#"> <i class="icon-list"></i><span>#상품 리뷰 관리</span>
				</a></li>
				<li class="treeview"><a class="waves-effect waves-dark"
					href="#"> <i class="icon-list"></i><span>#적립금 관리</span>
				</a></li>
			</ul>
		</section>
	</aside>
</div>
</html>