<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 상단 메뉴  -->
	<div id="header" th:fragment="adminHeaderFragment">
		<header class="main-header-top hidden-print">
			<a th:href="@{/admin}" class="logo"><img
				class="img-fluid able-logo" th:src="@{/admin/assets/images/logo.png}"
				alt="Theme-logo"></a>
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" data-toggle="offcanvas" class="sidebar-toggle"></a>
				<!-- Navbar Right Menu-->
				<div class="navbar-custom-menu f-right">

					<ul class="top-nav">
						<!-- window screen -->
						<li class="pc-rheader-submenu"><a href="#"
							class="drop icon-circle" onclick="javascript:toggleFullScreen()">
								<i class="icon-size-fullscreen"></i>
						</a></li>
					</ul>
				</div>
			</nav>
		</header>		
	</div>
</html>