<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- consumer 상단메뉴 -->
<div th:fragment="sellerHeaderFragment">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Humberger Begin -->
	<div class="humberger__menu__overlay"></div>
	<div class="humberger__menu__wrapper">
		<div class="humberger__menu__logo">
			<a href="#"><img th:src="@{/user/img/logo.png}" alt="User Image"></a>
		</div>
		<div class="humberger__menu__widget">
			<div class="header__top__right__auth">
				<ul style="list-style: none;">
					<li><a th:href="@{/seller/login/sellerLogin}"><i
							class="fa fa-user"></i> Login</a></li>
				</ul>
			</div>
		</div>
		<nav class="humberger__menu__nav mobile-menu">
			<ul>
				<li><a th:href="@{/seller/goods/goodsList}">#상품관리</a>
					<ul class="header__menu__dropdown">
						<li><a th:href="@{/seller/goods/goodsList}">#판매상품조회</a></li>
						<li><a th:href="@{/seller/goods/regGoodsApply}">#신규등록신청</a></li>
						<li><a th:href="@{/seller/goods/goodsApplyList}">#상품 등록
								신청 내역</a></li>
					</ul></li>
				<li><a th:href="@{/seller/goods/discount/goodsDiscountList}">#상품별
						할인혜택</a>
					<ul class="header__menu__dropdown">
						<li><a th:href="@{/seller/goods/discount/goodsDiscountList}">#할인혜택 조회</a></li>
						<li><a th:href="@{/seller/goods/discount/regGoodsDiscount}">#할인혜택 등록</a></li>
					</ul></li>
				<li><a
					th:href="@{/seller/order/seller_order_delivery_all_list}">!#주문/배송
						관리:장보경</a></li>
				<li><a href="#">#정산내역</a></li>
				<li><a href="#">#고객관리</a>
					<ul class="header__menu__dropdown">
						<li><a href="#">#문의</a></li>
					</ul></li>
			</ul>
		</nav>
		<div id="mobile-menu-wrap"></div>
	</div>
	<!-- Humberger End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="header__top__left"></div>
					</div>
					<div class="col-lg-6">
						<div class="header__top__right" style="padding: 0 5px 0 5px;">
							<div class="header__top__right__auth">
								<nav class="header__menu" style="padding: 0 0 0 0;">
									<ul>
										<li><a a th:href="@{/seller/login/sellerLogin}"><i class="fa fa-user"></i>#마이페이지</a>
											<ul class="header__menu__dropdown">
												<li><a th:href="@{/seller/companypage/companyInsert}">#입점신청</a></li>
												<li><a th:href="@{/seller/companypage/companyModify}">#회사정보</a></li>
												<li><a th:href="@{/seller/login/sellerLoginList}">#회원정보</a></li>
												<li><a th:href="@{/seller/companypage/companyDelete}">#탈퇴신청</a></li>
												
											</ul></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="header__logo">
						<a th:href="@{//localhost:8088/seller}"><img
							th:src="@{/user/img/logo.png}" alt="User Image"></a>
					</div>
				</div>
				<div class="col-lg-8" style="text-align: center;">
					<nav class="header__menu">
						<ul>
							<li><a th:href="@{/seller/goods/goodsList}">#상품관리</a>
								<ul class="header__menu__dropdown">
									<li><a th:href="@{/seller/goods/goodsList}">#판매상품조회</a></li>
									<li><a th:href="@{/seller/goods/regGoodsApply}">#신규등록신청</a></li>
									<li><a th:href="@{/seller/goods/goodsApplyList}">#상품
											등록 신청 내역</a></li>
								</ul></li>
							<li><a th:href="@{/seller/goods/discount/goodsDiscountList}">#상품별
									할인혜택</a>
								<ul class="header__menu__dropdown">
									<li><a
										th:href="@{/seller/goods/discount/goodsDiscountList}">#할인혜택 조회</a></li>
									<li><a
										th:href="@{/seller/goods/discount/regGoodsDiscount}">#할인혜택 등록</a></li>
								</ul></li>
							<li><a th:href="@{/seller/order/sellerOrderDeliveryAllList}">!#주문/배송
									관리:장보경</a></li>
							<li><a href="#">#정산내역</a>
								<ul class="header__menu__dropdown">
									<li><a th:href="@{/seller/salespage/sellerSales}">#매출현황</a></li>
									<li><a th:href="@{/seller/salespage/sellerSalesCalculate}">#정산확인</a></li>
								</ul></li>

							<li><a href="#">#고객관리</a>
								<ul class="header__menu__dropdown" style="text-align: left;">
									<li><a href="#">#문의</a></li>
								</ul></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-2">
					<div class="header__cart"></div>
				</div>
			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

</div>
</html>