<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 사용자 정의 css  -->
<th:block layout:fragment="customCss">
	<style>
		.main-wrapper{
			text-align: center;
		}
	</style>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="main-wrapper">
		<img alt="" th:src="@{/admin/assets/images/adminMain.jpg}">
	</div>
</th:block>


</html>