<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">




<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<h1>회원신고내역 조회/관리</h1>

	<form action="mileage_management">
		<div class="position-relative">
			<div class="col-xs-3">

				<input class="form-control" id="memberId" type="text"
					name="memberId" placeholder="회원아이디검색">

			</div>
			<button type="button" id="mSearch" class="btn btn-primary">검색</button>
		</div>
	</form>
	<br>
		<table class="table m-b-0 photo-table">
    			<thead>
    			<tr>
    				<th>신고 사항 코드 </th>
    				<th>회원아이디</th>
    				<th>상품코드</th>
    				<th>신고 사항 분류 </th>
    				<th>입점업체대표코드</th>
    				<th>글제목 </th>
    				<th>글내용 </th>
    				<th>글작성일</th>
    				<th>답변 여부</th>
    				<th>답변 내용  </th>
    				<th>답변 일시</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:if="${not #lists.isEmpty(complainList)}"
    				th:each="cl : ${complainList}">
    				<td th:text="${cl.complainCode}"></td>
    				<td th:text="${cl.memberId}"></td>
    				<td th:text="${cl.gCode}"></td>
    				<td th:text="${cl.complainCategory}"></td>
    				<td th:text="${cl.enterCode}"></td>
    				<td th:text="${cl.complainTitle}"></td>
    				<td th:text="${cl.complainContent}"></td>
					<td th:text="${cl.complainRegDatetime}"></td>
					<td th:text="${cl.complainAnswerConfirm}"></td>
					<td th:text="${cl.complainAnswerContent}"></td>
					<td th:text="${cl.complainAnswerDatetime}"></td>
    			</tr>
    			<tr th:unless="${not #lists.isEmpty(complainList)}">
    				<td colspan="11" style="text-align: center;">신고 내역이 존재하지 않습니다.</td>
    			</tr>
    		</tbody>
    	</table>


	</th:block>

<!-- 사용자 정의 js 하단  -->
<th:block layout:fragment="customFootJs">

</th:block>

</html>