<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customCss">
	<style>
		html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}
	</style>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<h1>회원 아이디별 회원리뷰 조회/관리</h1>

	<form action="/admin/reviewManage/watchReviewById" method="post">
		<div class="position-relative">
			<div class="col-xs-3">

				<input class="form-control" id="memberId" type="text"
					name="memberId" placeholder="회원아이디검색">

			</div>
			<button type="button" id="searchBtn" >검색</button>
			
			<!-- <button type="button" id="mSearch" class="btn btn-primary">검색</button> -->
		</div>
	</form>
	<br>
		<section class="intro">
  <div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                  <table class="table table-striped mb-0">
                    <thead style="background-color: #002d72;">
    			<tr>
    				<th>리뷰코드</th>
    				<th>상세주문서 코드</th>
    				<th>상품코드</th>
    				<th>회원아이디</th>
    				<th>글제목</th>
    				<th>글내용</th>
    				<th>글작성일</th>
    				<th>평점</th>
    			</tr>
    		</thead>
    		<tbody id="tBody">
    			<tr th:if="${not #lists.isEmpty(reviewList)}"
    				th:each="rl : ${reviewList}">
    				<td th:text="${rl.revCode}"></td>
    				<td th:text="${rl.orderDetailCode}"></td>
    				<td th:text="${rl.gCode}"></td>
    				<td th:text="${rl.memberId}"></td>
    				<td th:text="${rl.reviewTitle}"></td>
    				<td th:text="${rl.reviewContents}"></td>
    				<td th:text="${rl.revRegDatetime}"></td>
    				<td th:text="${rl.reviewScore}"></td>
    			</tr>
    			<tr th:unless="${not #lists.isEmpty(reviewList)}">
    				<td colspan="11" style="text-align: center;">리뷰 내역이 존재하지 않습니다.</td>
    			</tr>
    	   </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


	</th:block>

<!-- 사용자 정의 js 하단  -->
<th:block layout:fragment="customFootJs">
	 <script>
		 $(function(){
			 
			 $(document).on('click', '#searchBtn', function(){
				 var memberId = $('#memberId').val();
				 
				 // ajax 선언      
				 var request = $.ajax({          
					 type: "GET",   // 요청 메소드 타입          
					 url: "/admin/reviewManage/reviewList", // 접속 url
					 data: {'memberId' : memberId},
					 dataType: 'json' // 응답 메시지의 타입       
					 });        
				 // 결과        
				 request.done(function(data){         
					 var reviewList = data;
					 var tBody = $('#tBody');					 
					 var html = '';

					 if(typeof reviewList != 'undefined' && reviewList != null){
						 for(let userReview of reviewList){
							html += '<tr>';
							html += '	<td>' + userReview.revCode + '</td>';  
							html += '	<td>' + userReview.orderDetailCode + '</td>'; 
							html += '	<td>' + userReview.gCode + '</td>'; 
							html += '	<td>' + userReview.memberId + '</td>';
							html += '	<td>' + userReview.reviewTitle + '</td>';
							html += '	<td>' + userReview.reviewContents + '</td>';
							html += '	<td>' + userReview.revRegDatetime + '</td>';
							html += '	<td>' + userReview.reviewScore + '</td>';
							html += '</tr>';
						 }
					 }
					 
					 tBody.html(html);
				 });     
			 });
			 
		});    
	 </script>
</th:block>



</html>