<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 상품 카테고리 수정 폼  -->

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="container-fluid" style="height: 100%; width: 100%;">
		<div class="row">
			<div class="col-xl-8 col-lg-8" style="padding-top: 15px;">
				<div class="card" th:object="${goodsCategoryInfo}">
					<div class="card-header" style="text-align: center;">
						<h3>카테고리 수정</h3>
					</div>
					<form th:action="@{/admin/goods/category/goodscate_update}"
						method="post">
						<div class="card-block">
							<div class="form-group row">
								<label for="goodsCategoryCode"
									class="col-xs-2 col-form-label form-control-label">상품
									카테고리 코드</label>
								<div class="col-sm-10">
									<input th:value="*{goodsCategoryCode}" class="form-control"
										type="text" id="goodsCategoryCode" name="goodsCategoryCode"
										readonly="readonly">
								</div>
							</div>
							<div class="form-group row">
								<label for="goodsCategoryName"
									class="col-xs-2 col-form-label form-control-label">카테고리
									이름</label>
								<div class="col-sm-10">
									<input th:value="*{goodsCategoryName}" class="form-control"
										type="text" id="goodsCategoryName" name="goodsCategoryName">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-2">
									<label for="goodsCategoryStatus" class="form-control-label">사용
										여부</label>
								</div>
								<div class="col-md-10 has-danger">
									<label class="custom-control custom-checkbox"> <input
										th:checked="*{goodsCategoryStatus} == 1"
										class="custom-control-input" type="checkbox"
										id="goodsCategoryStatus" name="goodsCategoryStatus" value="1">
										<span class="custom-control-indicator"></span> <span
										class="custom-control-description">사용</span>
									</label>
								</div>
							</div>
							<button id="updateBtn" type="submit"
								class="btn btn-info waves-effect waves-light"
								style="float: right;">등록</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>