<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team02.mapper.CommonMapper">
	<select id="sessionIdPwCheck" parameterType="String" resultType="boolean">
		SELECT 
			COUNT(*)
		FROM 
			tb_member AS m 
		WHERE 
			m.member_id = #{memberId}
			AND
			m.member_pw = #{memberPw};
	</select>
	<select id="getNewCode" parameterType="String" resultType="String">
		SELECT 
			CONCAT(SUBSTRING_INDEX(#{tableName},'tb_',-1), DATE_FORMAT(NOW(6), '%Y%m%d%H%i%s%f'));
	</select>
	<select id="getEnterCodeOfMebmerId" parameterType="String" resultType="String">
		SELECT
			e.enter_code
		FROM 
			tb_member AS m 
			INNER JOIN 
			tb_enterprise AS e 
			ON
			e.member_id = m.member_id
		WHERE 
			m.member_id = #{memberId}
	</select>
	<select id="isExistEnterCode" parameterType="String" resultType="Int">
		SELECT
			COUNT(e.enter_code)
		FROM 
			tb_member AS m 
			INNER JOIN 
			tb_enterprise AS e 
			ON
			e.member_id = m.member_id
		WHERE 
			m.member_id = #{memberId}
	</select>
</mapper>