<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team02.mapper.DeliveryMapper">
	
	
	<!-- 주문 리스트 -->
	<select id="getOrderList" parameterType="String" resultType="map">	
	SELECT
			om.order_code as orderCode,
			g.g_name as goodsName,
			om.final_price as finalPrice,
			od.order_datetime AS orderDatetime,
			om.order_group_code AS orderGroupCode
			
		FROM
			tb_order_management AS om
			INNER join
			tb_order_detail AS od
			on
			od.order_group_code = om.order_group_code
			INNER join
			tb_goods AS g
			on
			g.g_code = od.g_code
			INNER Join
			tb_order_status AS os
			on
			g.g_code = os.g_code
			INNER join
			tb_order_status_standard AS oss
			on
			oss.order_status_standard_code = os.order_status_standard_code
			left Join
			tb_delivery AS d
			on
			d.order_detail_code = od.order_detail_code
		WHERE
			od.member_id = #{memberId}
		ORDER BY
			os.order_status_update_datetime;
	</select>
	
	
	<!-- 주문 상세리스트 -->
	<select id="getOrderDetailList" parameterType="String" resultType="map">
	SELECT
         od.order_group_code as orderGroupCode,
         g.g_main_image as goodsMainImage,
         g.g_name as goodsName,
         od.regular_price_subtotal as regularPriceSubtotal,
         od.order_amount as orderAmount,
         od.order_datetime as orderDatetime,
         oss.order_status_standard_details as orderStatusStandardDetails,
         d.delivery_enter as deliveryEnter,
         d.delivery_num as deliveryNumber
	FROM
         tb_order_detail AS od
         INNER JOIN
         tb_order_management AS om
         on
         od.order_group_code = om.order_group_code
         INNER join
         tb_goods AS g
         on
         g.g_code = od.g_code
         INNER Join
         tb_order_status AS os
         on
         g.g_code = os.g_code
         INNER join
         tb_order_status_standard AS oss
         on
         oss.order_status_standard_code = os.order_status_standard_code
         left join
		 tb_delivery AS d
		 on
		 d.order_detail_code = od.order_detail_code	
	WHERE
    	od.order_group_code = #{orderGroupCode}

	</select>

	<!-- 결제정보 -->
	<select id="getPaymentList" parameterType="String" resultType="map">
		SELECT
			p.payment_input_bank_card_number AS paymentInputNumber,
			p.payment_agency AS paymentBank,
			p.payment_cash_sum AS paymentCash,
			p.payment_date AS paymentDate,
			p.payment_payer_name AS paymentPayer
		FROM
			tb_payment_by_order AS p
			INNER join
			tb_order_management AS om
			on
			p.order_code = om.order_code
		WHERE
			om.order_group_code = #{orderGroupCode}
	</select>
	

	
</mapper>