<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team02.mapper.GoodsMapper">
	<!-- 상품 카테고리 목록 이름 조회 -->
	<select id="getGoodsCategoryList" resultType="GoodsCategory">
		SELECT
			g_cate_code as goodsCategoryCode
			,cate_name as goodsCategoryName
			,cate_reg_date as goodsCategoryRegDate
			,member_id as goodsCategoryRegId
			,cate_status as goodsCategoryStatus
		FROM
			tb_goods_cate;
	</select>
</mapper>