<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team02.mapper.GradeMapper">
	<resultMap type="Grade" id="buyerGradeResultMap">
		<result column="member_level_class_name" property="memberLevelClassName"/>
		<result column="member_level_code" property="memberLevelCode"/>
		<result column="member_level_name" property="memberLevelName"/>	
		<association property ="buyerLevel" javaType="BuyerLevel">
			<result column="buyer_condition" property="buyerCondition"/>
			<result column="buyer_mileage" property="buyerMileage"/>
		</association>
	</resultMap>
	<resultMap type="Grade" id="sellerGradeResultMap">
		<result column="member_level_class_name" property="memberLevelClassName"/>
		<result column="member_level_code" property="memberLevelCode"/>
		<result column="member_level_name" property="memberLevelName"/>	
		<association property ="sellerLevel" javaType="SellerLevel">
			<result column="seller_condition" property="sellerCondition"/>
			<result column="can_reg_amt" property="canRegAmt"/>
			<result column="seller_mileage" property="sellerMileage"/>
		</association>
	</resultMap>
<!-- 구매자 등급 정의 리스트 -->
	<select id="getBuyerGradeList"  resultMap="buyerGradeResultMap">
		SELECT 
			ml.member_level_class_name
			,ml.member_level_code
			,ml.member_level_name
			,bl.buyer_condition
			,bl.buyer_mileage
		FROM 
			tb_member_level AS ml
		INNER JOIN 
			tb_buyer_level AS bl
		ON 
			ml.member_level_code=bl.member_level_code;
	</select>
<!-- 판매자 등급 정의 리스트 -->
	<select id="getSellerGradeList" resultMap="sellerGradeResultMap">
		SELECT 
			ml.member_level_class_name
			,ml.member_level_code
			,ml.member_level_name
			,sl.seller_condition
			,sl.can_reg_amt
			,sl.seller_mileage
		FROM 
			tb_member_level AS ml
		INNER JOIN 
			tb_seller_level AS sl
		ON 
			ml.member_level_code=sl.member_level_code;
	</select>
</mapper>