<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team02.mapper.MileageMapper">
	<resultMap type="MemberMileageAcc" id="mileageResultMap">
		<id column="m_mileage_acc_code" property="mMileageCode"/>
		<result column="member_id" property="memberId"/>
		<result column="order_detail_code" property="orderDetailCode"/>
		<result column="present_mileage" property="currentMileage"/>
		<result column="mileage_distinct" property="mileageDistinct"/>
		<result column="added_used_mileage" property="addedUsedMileage"/>
		<result column="mileage_subtotal" property="mileageSubtotal"/>
		<result column="mileage_update_datetime" property="mUpdateDatetime"/>
		<result column="order_group_code" property="orderGroupCode"/>
	</resultMap>
	
	
	<!-- 회원 마일리지 조회 -->
	<select id="getMileageList" parameterType="String" resultMap="mileageResultMap">
		SELECT
			member_id
			,order_detail_code
			,present_mileage
			,mileage_distinct
			,added_used_mileage
			,mileage_update_datetime
		FROM
			tb_member_mileage_acc
				
	</select>
	
		<!-- 회원 마일리지 검색 -->
	<select id="getMileageListSearch" parameterType="String" resultMap="mileageResultMap">
		SELECT
			member_id
			,order_detail_code
			,present_mileage
			,mileage_distinct
			,added_used_mileage
			,mileage_update_datetime
		FROM
			tb_member_mileage_acc			
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="membeId != null and memberId != ''">
				member_id = #{memberId};
			</if>
		</trim>
				
	</select>
	
	
	
	<!-- 회뤈 마일리지 적립 -->
	<insert id="giveMileageForm" parameterType="MemberMileageAcc">
		INSERT INTO tb_member_mileage_acc
		(m_mileage_acc_code
		,member_id
		,order_detail_code
		,present_mileage
		,mileage_distinct
		,added_used_mileage
		,mileage_subtotal
		,mileage_update_datetime
		,order_group_code)
		VALUES
		(#{mMileageCode}
		,#{memberId}
		,#{orderDetailCode}
		,#{currentMileage}
		,#{mileageDistinct}
		,#{addedUsedMileage}
		,#{mileageSubtotal}
		,NOW()
		,#{orderGroupCode});
		
		</insert>
		
		
		</mapper>