<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team02.mapper.AdminDeliveryMapper">
	<resultMap type="RefundExchangeReasons" id="reasonsResultMap">
		<id column="refund_exchange_reasons_code" property="refundExchangeReasonsCode"/>
		<result column="refund_exchange_reasons" property="refundExchangeReasons"/>
		<result column="refund_exchange_reasons_datetime" property="refundExchangeReasonsDatetime"/>
	</resultMap>
	<resultMap type="OrderDetail" id="detailResultMap">
		<id column="order_detail_code" property="orderDetailCode"/>
		<result column="member_id" property="memberId"/>
		<result column="g_code" property="goodsCode"/>
		<result column="discount_price" property="discountPrice"/>
		<result column="order_amount" property="orderAmount"/>
		<result column="regular_price_subtotal" property="regularPriceSubtotal"/>
		<result column="order_datetime" property="orderDateTime"/>
		<result column="order_group_code" property="orderGroupCode"/>
		<result column="enter_code" property="enterCode"/>
		<result column="g_delivery_charge" property="gDeliveryCharge"/>
		<association property="enterprise" javaType="Enterprise">
			<id column="enter_code" property="enterCode"/>
			<result column="memberId" property="enterId"/>
			<result column="launching_brand" property="enterBrand"/>
			<result column="enter_name" property="enterName"/>
			<result column="enter_address" property="enterAdd"/>
			<result column="enter_number" property="enterNum"/>
		</association>
		<association property="goods" javaType="Goods">
			<id column="g_code" property="goodsCode"/>
			<result column="enter_code" property="enterCode"/>
			<result column="g_cate_code" property="goodsCateCode"/>
			<result column="g_name" property="goodsName"/>
			<result column="g_price" property="goodsPrice"/>
			<result column="goods_discount_code" property="goodsDiscountCode"/>
			<result column="g_discount" property="goodsDiscountedPrice"/>
			<result column="g_netweight" property="goodsNetWeight"/>
			<result column="g_netweightunit" property="goodsNetWeightUnit"/>
			<result column="g_produce" property="goodsProduce"/>
			<result column="g_production_expiration_info" property="goodsProductionExpirationInfo"/>
			<result column="g_main_image" property="goodsMainImageCode"/>
			<result column="g_info_image" property="goodsInfoImageCode"/>
			<result column="g_stock" property="goodsStock"/>
			<result column="g_delivery_charge" property="goodsDeliveryCharge"/>
			<result column="g_reg_datetime" property="goodsRegDatetime"/>
			<result column="g_activation" property="goodsActivation"/>
		</association>
		<association property="goodsMainImageInfo" javaType="GoodsMainImage">
			<id column="main_image_idx" property="mainImageIdx"/>
			<result column="main_image_original_name" property="mainImageOriginalName"/>
			<result column="main_image_new_name" property="mainImageNewName"/>
			<result column="main_image_path" property="mainImagePath"/>
			<result column="main_image_size" property="mainImageSize"/>
			<result column="main_image_islocal" property="mainImageIsLocal"/>
		</association>
		<association property="delivery" javaType="Delivery">
			<id column="delivery_code" property="deliveryCode"/>
			<result column="order_detail_code" property="orderDetailCode"/>
			<result column="order_exchange_code" property="orderExchangeCode"/>
			<result column="payment_code" property="paymentCode"/>
			<result column="d_type" property="deliveryType"/>
			<result column="d_get_name" property="deliveryGetName"/>
			<result column="d_get_addr" property="deliveryGetAddress"/>
			<result column="d_get_phone" property="deliveryGetPhone"/>
			<result column="d_order_date" property="deliveryOrderDatetime"/>
			<result column="d_memo" property="deliveryMemo"/>
			<result column="d_release_datetime" property="deliveryReleaseDatetime"/>
			<result column="enter_code" property="enterCode"/>
			<result column="order_status_code" property="orderStatusStandardCode"/>
			<result column="d_complete_datetime" property="deliveryCompleteDatetime"/>
			<result column="delivery_enter" property="deliveryEnter"/>
			<result column="delivery_num" property="deliveryNum"/>
		</association>
		<association property="orderStatus" javaType="OrderStatus">
			<id column="order_status_code" property="orderStatusCode"/>
			<result column="member_id" property="memberId"/>
			<result column="order_status_standard_code" property="orderStatusStandardCode"/>
			<result column="order_detail_code" property="orderDetailCode"/>
			<result column="enter_code" property="enterCode"/>
			<result column="g_code" property="goodsCode"/>
			<result column="order_status_update_datetime" property="orderStatusUpdateDatetime"/>
		</association>
		<association property="orderStatusStandard" javaType="OrderStatusStandard">
			<id column="order_status_standard_code" property="orderStatusStandardCode"/>
			<result column="order_status_standard_details" property="orderStatusStandardDetails"/>
			<result column="member_id" property="memberId"/>
			<result column="order_status_standard_registration_datetime" property="orderStatusStandardRegDatetime"/>
		</association>
		<association property="orderManagement" javaType="OrderManagement">
			<id column="order_code" property="orderCode"/>
			<result column="regular_price_subtotal" property="regularPriceSubtotal"/>
			<result column="order_discount_code" property="orderDiscountCode"/>
			<result column="add_discount_price" property="addDiscountPrice"/>
			<result column="final_price" property="finalPrice"/>
			<result column="order_group_code" property="orderGroupCode"/>
			<result column="used_mileage" property="usedMileage"/>
			<result column="g_delivery_charge_total" property="gDeliveryCharge"/>
		</association>
	</resultMap>
	

	<!-- 전체 구매자 주문 리스트 확인 -->
	<select id="getBuyerOrderList" parameterType="String" resultType="map">
		SELECT
			 om.order_code as orderCode
			,group_concat(g.g_name SEPARATOR ', ') as goodsName
			,om.final_price as finalPrice
			,od.order_datetime AS orderDatetime
			,om.order_group_code AS orderGroupCode
			,om.add_discount_price AS discountAdd
			,om.regular_price_subtotal AS subPrice
			,om.g_delivery_charge_total as deliTotal
			,gmi.main_image_original_name AS mainImageOriName
			,gmi.main_image_path AS mainImagePath
			,od.member_id AS memberId
		FROM
			tb_order_management AS om
			INNER JOIN
			tb_order_detail AS od
			ON 
			od.order_group_code = om.order_group_code
			LEFT JOIN
			tb_goods AS g
			on
			g.g_code = od.g_code
			inner JOIN
			tb_order_status AS os
			on
			os.order_detail_code = od.order_detail_code
			INNER JOIN
			tb_order_status_standard AS oss
			on
			oss.order_status_standard_code = os.order_status_standard_code
			INNER JOIN 
			tb_goods_main_image AS gmi
			ON 
			gmi.main_image_idx = g.g_main_image
			INNER JOIN
			tb_member AS m
			on
			m.member_id = od.member_id
		GROUP BY om.order_code
		ORDER BY
			od.order_datetime;
	</select>


	<!-- 구매자 주문서상세내역 -->
	<select id="getBuyerOrderDetail" parameterType="String" resultType="map">
		SELECT
	         od.order_group_code as orderGroupCode,
	         g.g_main_image as goodsMainImage,
	         g.g_name as goodsName,
	         g.g_code AS goodsCode,
	         om.add_discount_price AS disPricAdd,
	         od.discount_price AS discountPrice,
	         od.regular_price_subtotal as regularPriceSubtotal,
	         od.order_amount as orderAmount,
	         od.order_datetime as orderDatetime,
	         oss.order_status_standard_details as orderStatusStandardDetails,
	         d.delivery_enter as deliveryEnter,
	         d.delivery_num as deliveryNumber
	         ,gmi.main_image_original_name AS mainImageOriName
			 ,gmi.main_image_path AS mainImagePath
			 ,ent.enter_name AS entName
			 ,od.g_delivery_charge AS deliCharge
			 ,om.add_discount_price AS disPriceAdd
		FROM
	         tb_order_detail AS od
	         INNER JOIN
	         tb_order_management AS om
	         on
	         od.order_group_code = om.order_group_code
	         INNER join
	         tb_goods AS g
	         on
	         g.g_code = od.g_code
	         INNER JOIN 
				tb_goods_main_image AS gmi
			 	ON 
			 	gmi.main_image_idx = g.g_main_image
			 	INNER Join
	         tb_order_status AS os
	         on
	        os.order_detail_code = od.order_detail_code
	         INNER join
	         tb_order_status_standard AS oss
	         on
	         oss.order_status_standard_code = os.order_status_standard_code
	         left join
				tb_delivery AS d
				on
			 	d.order_detail_code = od.order_detail_code	
			 	INNER JOIN
			 	tb_enterprise AS ent
			 	on
			 	ent.enter_code = od.enter_code
		WHERE
	    	od.order_group_code = #{orderGroupCode};
	</select>
	
	<!-- 구매자 결제 내역 -->
	<select id="getBuyerPaymentInfo" parameterType="String" resultType="map">
		SELECT
			p.payment_input_bank_card_number AS paymentInputNumber,
			p.payment_agency AS paymentBank,
			p.payment_cash_sum AS paymentCash,
			p.payment_date AS paymentDate,
			p.payment_payer_name AS paymentPayer,
			om.regular_price_subtotal AS subtotalPrice,
			om.add_discount_price AS disAddPrice,
			om.g_delivery_charge_total AS gDeliveryCharge
		FROM
			tb_payment_by_order AS p
			INNER join
			tb_order_management AS om
			on
			p.order_code = om.order_code
		WHERE
			om.order_group_code = #{orderGroupCode};
	</select>


	<!-- 구매자 배송 내역 -->
	<select id="getBuyerDeliveryInfo" parameterType="String" resultType="map">
		SELECT
			d.d_type AS deliType,
			d.d_get_name AS deliName,
			d.d_get_addr AS deliAddress,
			d.d_get_phone AS deliPhone,
			d.d_memo AS deliMemo
		FROM
			tb_delivery AS d
			LEFT join
			tb_order_detail AS od
			on
			d.order_detail_code = od.order_detail_code
		WHERE
			od.order_group_code = #{orderGroupCode}
		GROUP by
			od.order_group_code;
	</select>


	<!-- 환불/교환사유 목록 -->
	<select id="getRefundExchangeReasonList" resultMap="reasonsResultMap">
		SELECT
			refund_exchange_reasons_code,
			refund_exchange_reasons,
			refund_exchange_reasons_datetime
		FROM
			tb_refund_exchange_reasons;
	</select>
	
	<!-- 특정 사유 조회 -->
	<select id="getRefundExchangeReasonsInfo" parameterType="String" resultMap="reasonsResultMap">
		SELECT
			refund_exchange_reasons_code,
			refund_exchange_reasons,
			refund_exchange_reasons_datetime
		FROM
			tb_refund_exchange_reasons
		WHERE
			refund_exchange_reasons_code = #{refundExchangeReasonsCode};
	</select>
	
	<!-- 특정사유 수정처리 -->
	<update id="modifyRefundExchangeReason" parameterType="RefundExchangeReasons">
		UPDATE 
			tb_refund_exchange_reasons
		SET
			refund_exchange_reasons = #{refundExchangeReasons}
		WHERE
			refund_exchange_reasons_code=#{refundExchangeReasonsCode};
	</update>
	
	<!-- 사유 등록처리 -->
	<insert id="addRefundExchangeReason" parameterType="RefundExchangeReasons">
		INSERT INTO tb_refund_exchange_reasons(
			 refund_exchange_reasons_code
			,refund_exchange_reasons
			,refund_exchange_reasons_datetime
		)VALUES(
			#{refundExchangeReasonsCode}
	 		,#{refundExchangeReasons}
	 		,NOW()
	 	);
	</insert>
	
	<!-- 사유 삭제 처리 -->
	<delete id="removeRefundExchangeReason" parameterType="String">
		DELETE 
		FROM
			tb_refund_exchange_reasons 
		WHERE 
			refund_exchange_reasons_code = #{refundExchangeReasonsCode};
	</delete>
	
	
</mapper>