<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team02.mapper.SellerCompanyMapper">
	<resultMap type="Launching" id="sellercompanyResultMap">
		<id column="launching_code" property="sellerCode"/>
		<result column="member_id" property="sellerId"/>
		<result column="launching_brand" property="sellerBrand"/>
		<result column="launching_enter" property="sellerEnter"/>
		<result column="launching_Business_reg_num" property="sellerNum"/>
		<result column="launching_manager" property="sellerManager"/>
		<result column="launching_phone" property="sellerPhone"/>
		<result column="launching_address" property="sellerAdd"/>
		<result column="launching_content" property="sellerContent"/>
		<result column="launching_hwp" property="sellerHwp"/>
		<result column="launching_url" property="sellerUrl"/>
		<result column="launching_file" property="sellerFile"/>
		<result column="launching_datetime" property="sellerDate"/>
		<result column="launching_approval" property="sellerApp"/>
	</resultMap>
<!-- 입점 업체 등록 -->
<insert id="addCompany" parameterType="Launching">
INSERT INTO tb_launching(
		launching_code,
		member_id,
		launching_brand,
		launching_enter,
		launching_business_reg_num,
		launching_manager,
		launching_phone,
		launching_address,
		launching_content,
		launching_hwp,
		launching_url,
		launching_file,
		launching_datetime,
		launching_approval
)VALUES(
		#{sellerCode}
		,'id010'
		,#{sellerBrand}
		,#{sellerEnter}
		,#{sellerNum}
		,#{sellerManager}
		,#{sellerPhone}
		,#{sellerAdd}
		,#{sellerContent}
		,#{sellerHwp}
		,#{sellerUrl}
		,#{sellerFile}
		,NOW()
		,#{sellerApp};
</insert>
<!-- 입점 업체 리스트 -->
<select id="sellerCompanyInfoList" resultMap="sellercompanyResultMap">
SELECT
	launching_code					AS sellerCode
	,member_id						AS sellerId
	,launching_brand				AS sellerBrand
	,launching_enter				AS sellerEnter
	,launching_Business_reg_num		AS sellerNum
	,launching_manager				AS sellerManage
	,launching_phone				AS sellerPhone
	,launching_address				AS sellerAdd
	,launching_content				AS sellerContent
	,launching_hwp					AS sellerHwp
	,launching_url					AS sellerUrl
	,launching_file					AS sellerFile
	,launching_datetime				AS sellerDate
	,launching_approval				AS sellerApp
FROM
	tb_launching;
</select>
<!-- 입점 업체 수정 처리 -->
<update id="sellerCompanyModify" parameterType="Launching">
UPDATE tb_launching AS launching
	SET
		launching_phone= #{sellerPhone}
		,launching_address= #{sellerAdd}
		,launching_content= #{sellerContent}
		,launching_hwp= #{sellerHwp}
		,launching_url= #{sellerUrl}
		,launching_file= #{sellerFile}
	WHERE launching_code= #{sellerCode};
</update>
<!-- 입점 업체 삭제 처리 -->
<delete id="sellerCompanyRemove" parameterType="String">
DELETE
FROM
	tb_launching AS launching
WHERE
	launching_code= #{sellerCode};
</delete>

<!-- 입점 신청 아이디 일치 -->
<!--
<select id="addCompany" parameterType="com.mygg.dto.CompanyDTO" resultType="int">
SELECT
COUNT(*)

FROM
tb_launching

WHERE
member_id = #{sellerId}
</select>
-->
 
<!-- 입점 신청 브랜드 중복체크 -->
<!--
<select id="addCompany" parameterType="com.mygg.dto.CompanyDTO" resultType="int">
SELECT
COUNT(*)

FROM
tb_launching

WHERE
launching_brand = #{sellerBrand}
</select>
-->
 
<!-- 입점 신청 사업자등록번호 중복체크 -->
<!--
<select id="addCompany" parameterType="com.mygg.dto.CompanyDTO" resultType="int">
SELECT
COUNT(*)

FROM
tb_launching

WHERE
launching_Business_reg_num = #{sellerNum}
</select>
-->
</mapper>