<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/sellerDefault}">

<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>



<!-- 사용자 정의 css  -->
<th:block layout:fragment="customCss">
	<style>
.nice-select {
	margin-bottom: 24px;
}

.filebox .upload-name {
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 78%;
	color: #999999;
}

.filebox label {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	vertical-align: middle;
	background-color: #999999;
	cursor: pointer;
	height: 40px;
	margin-left: 10px;
}

.filebox input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}
</style>
</th:block>



<th:block layout:fragment="customTopJs">
	  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
	  	<script>
 	  			$(function(){
	  				function vaildationCheck(data) {
						var isValid = true;	  					
	  					//유효성검사
	  					if(typeof data == 'object'){
	  						$.each(data, function(){
	  							var inputValue = $(this).val();
	  							if(typeof inputValue == 'undefined' || inputValue == null || inputValue == '') {
	  								isValid = false;
	  								var inputId = $(this).attr('id');
	  								var alertMsg = $('label[for="'+ inputId +'"]').text();
	  								alert(alertMsg + '를 입력해주세요');
	  								$(this).focus();
	  								return false; //이벤트를 종료시키기 위함
	  							}
	  						});
	  					}
	  					
	  					if(typeof data == 'string'){
	  						if(typeof data == 'undefined' || data == null || data == '') {
  								isValid = false;
  								return false;
  							}
	  					}
	  					return isValid;
	  				}
	  				
	  				$('#sellerBrand').on('keydown change input keyup blur', function(){
	  					$('#BrandCheckBtn').attr('data-isChecked', false);
	  				});
	  						
	  				$(document).on('click', '#joinBtn', function(){
	  					
	  					var isChecked = $('#BrandCheckBtn').attr('data-ischecked');
	  					 
	  					isChecked = (isChecked == 'true');
	  					
	  					if(!isChecked) {
	  						alert('브랜드 중복체크 후 입점신청이 가능합니다.');
	  						return false;
	  					}
	  					
	  					var inputObj = $('#addCompanyForm input');

	  					var isValid = vaildationCheck(inputObj);
	  					
	  					if(isValid) $('#addCompanyForm').submit();
	  				});
	  				
	  				$('#BrandCheckBtn').click(function(){
	  					//var isChecked = $(this).attr('data-isChecked');
	  					var sellerBrand = $('#sellerBrand').val();
	  					var result = vaildationCheck(sellerBrand);
	  					
	  					if(!result) {
	  						alert('브랜드명을 입력해주세요');
	  						return false;
	  					}
	  					
	  					console.log(typeof sellerBrand);
	  					
	  					
	  					var request = $.ajax({
	  					  url: '/seller/companypage/sellerCompanyBrandcheck', //http://localhost/member/idCheck
	  					  method: "get",
	  					  data: { 'SellerBrand' : sellerBrand },
	  					  dataType: "json"  //String이면 text   //text, json, xml, html
	  					});
	  					
	
	 
 	  					request.done(function( data ) {
	  						if(data) {
	  							alert('입점된 브랜드명입니다.');
	  							$('#sellerBrand').focus();
	  						}else {
	  							alert('사용 가능한 브랜드명입니다.');
	  							$('#BrandCheckBtn').attr('data-isChecked', true);
	  							$('#addCompanyForm input').prop('disabled', false);
	  							$('#addCompanyForm select').prop('disabled', false);
	  							$('#addCompanyForm button').prop('disabled', false);

	  						}	
	  					});
	  					
	  					request.fail(function( jqXHR, textStatus ) {
	  					  alert( "Request failed: " + textStatus );
	  					});
	  				});
 	  			});
	  </script>
</th:block>



<!-- start breadcrum section -->
<th:block layout:fragment="customBreadCrum">
	<section class="breadcrumb-section set-bg"
		data-setbg="/user/img/breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>입점 업체 등록 신청</h2>
						<div class="breadcrumb__option">
							<a th:href="@{/seller}">Company</a><span>업체 정보를 등록해주세요</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
<!-- end breadcrum section -->



<th:block layout:fragment="customContents">
	<section class="checkout spad">
		<div class="container">
			<div class="checkout__form">
				<h4>입점 등록 신청</h4>
				<form action="">
					</div>
					<div class="checkout__input">
						<p>
							브랜드 등록<span>*</span>
						</p>
						<div class="checkout__input d-flex">
						<input type="text" name="sellerBrand" id="sellerBrand" placeholder="브랜드 이름을 입력해주세요">
						<button type="button" id="BrandCheckBtn" class="col-md-2 img-btn">확인</button>
					</div>
					<div class="checkout__input">
						<p>
							업체명<span>*</span>
						</p>
						<input type="text" placeholder="입점 신청하는 업체명을 입력해주세요">
					</div>
					<div class="checkout__input">
						<p>
							사업자등록번호<span>*</span>
						</p>
						<div class="checkout__input">
						<input type="text" placeholder="예:000-00-00000">
					</div>
					<div class="checkout__input">
						<p>
							판매자 이름<span>*</span>
						</p>
						<input type="text" placeholder="대표자 이름을 입력해주세요">
					</div>
					<div class="checkout__input">
						<p>
							판매자 전화번호<span>*</span>
						</p>
						<div class="checkout__input d-flex">
						<input type="text" placeholder="숫자만 입력해주세요">
						<button type="submit" class="col-md-2 img-btn">인증</button>
					</div>
					<div class="checkout__input">
						<p>
							회사 주소<span>*</span>
						</p>
						<input type="text" placeholder="도로명 주소를 입력해주세요"class="checkout__input__add">
						<input type="text" placeholder="상세 주소를 입력해주세요">
					</div>
					<div class="checkout__input">
						<p>
							회사 소개<span>*</span>
						</p>
						<input type="text" placeholder="회사의 소개를 입력해주세요">
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="checkout__input">
								<p>
									회사 상품 신청서 파일(hwp)<span>*</span>
								</p>
								<div class="filebox">
									<input class="upload-name" id="goodsMainImageName" placeholder="파일 업로드(*.gif, *.jpg, *.png *.hwp)">
									<label for="goodsMainImage" style="margin-top: 8px;">파일찾기</label>
									<input type="file" id="goodsMainImage" class="imageUpload" name="goodsMainImage"
										   accept=".gif, .jpg, .png, .hwp" multiple="multiple">
								</div>
							</div>
						</div>
					</div>
					<div class="checkout__input">
						<p>
							회사 홈페이지<span>*</span>
						</p>
						<input type="text" placeholder="예:www.ksmart.or.kr">
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="checkout__input">
								<p>
									입점 신청 서류를 첨부해주세요<span>*</span>
								</p>
								<div class="filebox">
									<input class="upload-name" id="goodsMainImageName" placeholder="파일 업로드(*.gif, *.jpg, *.png *.hwp)">
									<label for="goodsMainImage" style="margin-top: 8px;">파일찾기</label>
									<input type="file" id="goodsMainImage" class="imageUpload" name="goodsMainImage"
										   accept=".gif, .jpg, .png, .hwp" multiple="multiple">
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a class="primary-btn" style="width: 88px; height: 41px; background-color: #dedede;" th:href="@{/seller}">취소</a>
						<a class="primary-btn" th:href="@{/seller/companypage/companyModify}">등록</a>
					</div>
				</form>
			</div>
		</div>
	</section>
</th:block>



<!-- 사용자 정의 js 하단  -->
<th:block layout:fragment="customFootjs">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.imageUpload').change(function(){
				var imageName = $(this).val().split('\\');
				imageName = imageName[imageName.length - 1];
				console.log(imageName);
				$(this).parent().find('.upload-name').val(imageName);
			});
			
			$('.nice-select li').click(function() {
				var selectValue = $(this).attr('data-value');

				if (selectValue == 'giText') {
					$('#goodsIngredient').css('display', 'block');
				} else {
					$('#goodsIngredient').css('display', 'none');
				}

				if (selectValue == 'manuText') {
					$('#manuText').css('display', 'block');
				} else {
					$('#manuText').css('display', 'none');
				}
			});
		});
	</script>
</th:block>

</html>