<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 식단 등록 폼(admin)  -->
<!-- 사용자 정의 title 설정  -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 css  -->
<th:block layout:fragment="customCss">
	<link rel="stylesheet"
		th:href="@{/admin/assets/plugins/select2/dist/css/select2.min.css}">
	<link rel="stylesheet" type="text/css"
		th:href="@{/admin/assets/plugins/select2/css/s2-docs.css}">
	<style>
.filebox .upload-name {
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 78%;
	color: #999999;
}

.filebox label {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	vertical-align: middle;
	background-color: #999999;
	cursor: pointer;
	height: 40px;
	margin-left: 10px;
}

.filebox input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}
</style>
</th:block>

<!-- 사용자 정의 contents  -->
<th:block layout:fragment="customContents">
	<div class="container-fluid" style="height: 100%; width: 100%;">
		<div class="row">
			<div class="col-sm-12 p-0" style="display: flex;">
				<div class="main-header">
					<h4>식단 등록</h4>
					<ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
						<li class="breadcrumb-item"><a th:href="@{/admin}"><i
								class="icofont icofont-home"></i></a></li>
						<li class="breadcrumb-item"><a
							th:href="@{/admin/goods/menu/menuList}">식단 목록</a></li>
						<li class="breadcrumb-item"><a
							th:href="@{/admin/goods/menu/regMenu}">식단 등록</a></li>
					</ol>
				</div>
				<div style="padding-left: 20px;">
					<span style="line-height: 100px;">식단이 포함되는 상품들과 식단의 정보를 입력한 후 식단을 등록한다.</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12" style="padding-top: 15px;">
				<div class="card" style="padding-top: 20px;">
					<div class="card-header" style="text-align: center;">
						<h3>식단 등록</h3>
					</div>
					<div class="card-block" style="padding-top: 0;">
						<div class="col-xl-3 col-lg-3"></div>
						<div class="col-xl-6 col-lg-6">
							<form id="addGoodsForm" th:action="@{/admin/goods/menu/regMenu}" enctype="multipart/form-data"
								method="post">
								<!-- <h6 class="sub-title">Single Select</h6> -->
								<div class="form-group row">
									<div class="col-lg-12">
										<div>
											<label for="goodsCateCode"
												class="col-form-label form-control-label">카테고리</label>
										</div>
										<div class="modal fade modal-flex" id="single-select-Modal"
											tabindex="-1" role="dialog">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														<h5 class="modal-title">Code Explanation for single
															select radio</h5>
													</div>
													<!-- end of modal-header -->
													<div class="modal-body">
														<pre class="brush: html;">
									     				  	/* For Single Select */
									     				  	<select class="js-example-basic-single">
									     				  		<optgroup label="Developer">
									     				  			<option value="AL">Alabama</option>
									     				  			<option value="WY">Wyoming</option>
									     				  		</optgroup>
									     				  		<optgroup label="Designer">
									     				  			<option value="WY">Peter</option>
									     				  			<option value="WY">Hanry Die</option>
									     				  			<option value="WY">John Doe</option>
									     				  		</optgroup>
									     				  	</select>
															</pre>
													</div>
													<!-- end of modal-body -->
												</div>
												<!-- end of modal-content -->
											</div>
											<!-- end of modal-dialog -->
										</div>
										<!-- end of modal -->
										<select id="goodsCateCode" name="goodsCateCode"
											class="js-example-basic-single inputObj" style="width: 40%;">
											<th:block
												th:if="${not #lists.isEmpty(goodsCategoryList)}"
												th:each="gcl : ${goodsCategoryList}">
												<option th:value="${gcl.goodsCategoryCode}"
													th:text="${gcl.goodsCategoryName}"></option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-lg-12">
										<div>
											<label for="goodsName"
												class="col-form-label form-control-label">식단명</label>
										</div>
										<div>
											<input class="form-control vailCheck inputObj" type="text"
												id="goodsName" name="goodsName" placeholder="식단명을 입력해주세요.">
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-lg-12">
										<div>
											<label for="goodsPrice"
												class="col-form-label form-control-label">식단 가격</label>
										</div>
										<div>
											<input class="form-control vailCheck inputObj" type="number"
												id="goodsPrice" name="goodsPrice"
												placeholder="식단 가격을 입력해주세요.">
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-lg-12">
										<div>
											<label for="goodsDiscountCode"
												class="col-form-label form-control-label">적용 할인 혜택</label>
										</div>
										<div class="modal fade modal-flex" id="single-select-Modal"
											tabindex="-1" role="dialog">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														<h5 class="modal-title">Code Explanation for single
															select radio</h5>
													</div>
													<!-- end of modal-header -->
													<div class="modal-body">
														<pre class="brush: html;">
									     				  	/* For Single Select */
									     				  	<select class="js-example-basic-single">
									     				  		<optgroup label="Developer">
									     				  			<option value="AL">Alabama</option>
									     				  			<option value="WY">Wyoming</option>
									     				  		</optgroup>
									     				  		<optgroup label="Designer">
									     				  			<option value="WY">Peter</option>
									     				  			<option value="WY">Hanry Die</option>
									     				  			<option value="WY">John Doe</option>
									     				  		</optgroup>
									     				  	</select>
															</pre>
													</div>
													<!-- end of modal-body -->
												</div>
												<!-- end of modal-content -->
											</div>
											<!-- end of modal-dialog -->
										</div>
										<!-- end of modal -->
										<select id="goodsDiscountCode" name="goodsDiscountCode"
											class="js-example-basic-single inputObj" style="width: 40%;">
											<th:block
												th:if="${not #lists.isEmpty(goodsDiscountListAdmin)}"
												th:each="gdla : ${goodsDiscountListAdmin}">
												<option th:value="${gdla.goodsDiscountCode}"
													th:text="${gdla.goodsDiscountName}"></option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-lg-12" style="padding-right: 0;">
										<div class="checkout__input">
											<p>
												<label for="goodsMainImage"
													class="col-form-label form-control-label">식단 썸네일
													이미지 </label>
											</p>
											<div class="filebox">
												<input class="upload-name form-control"
													id="goodsMainImageName"
													placeholder="식단 썸네일 이미지(*.gif, *.jpg, *.png)"> <label
													class="label-lg label-default" for="goodsMainImage"
													style="margin-top: 8px;">파일찾기</label> <input type="file"
													id="goodsMainImage" class="imageUpload vailCheck inputObj"
													name="goodsMainImage" accept=".gif, .jpg, .png">
											</div>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-lg-12" style="padding-right: 0;">
										<div class="checkout__input">
											<p>
												<label for="goodsInfoImage"
													class="col-form-label form-control-label">식단 소개 이미지
												</label>
											</p>
											<div class="filebox">
												<input class="upload-name form-control"
													id="goodsInfoImageName"
													placeholder="식단 소개 이미지(*.gif, *.jpg, *.png)"> <label
													class="label-lg label-default" for="goodsInfoImage"
													style="margin-top: 8px;">파일찾기</label> <input type="file"
													id="goodsInfoImage" class="imageUpload vailCheck inputObj"
													name="goodsInfoImage" accept=".gif, .jpg, .png">
											</div>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-lg-12">
										<div>
											<label for="goodsStock"
												class="col-form-label form-control-label">재고</label>
										</div>
										<div>
											<input class="form-control vailCheck inputObj" type="number"
												id="goodsStock" name="goodsStock" placeholder="재고를 입력해주세요.">
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-lg-12">
										<div>
											<label for="goodsDeliveryCharge"
												class="col-form-label form-control-label">배송비</label>
										</div>
										<div>
											<input class="form-control vailCheck inputObj" type="number"
												id="goodsDeliveryCharge" name="goodsDeliveryCharge"
												placeholder="배송비를 입력해주세요.">
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-2">
										<label for="goodsActivation" class="form-control-label">사용
											여부</label>
									</div>
									<div class="col-md-10 has-danger">
										<label class="custom-control custom-checkbox"> <input
											class="custom-control-input inputObj" type="checkbox"
											id="goodsActivation" name="goodsActivation" value="1">
											<span class="custom-control-indicator"></span> <span
											class="custom-control-description">사용</span>
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-5">
										<label for="goodsOfMenuCode"
											class="col-form-label form-control-label">포함 상품 선택</label>
									</div>
									<div class="col-lg-7">
										<label for="menuGoodsAmount"
											class="col-form-label form-control-label">수량</label>
									</div>
								</div>
								<div class="form-group row" id="goodsOfMenuSelectForm">
									<div class="col-lg-12 select_goods_Of_Menu"
										style="padding-right: 0; margin-bottom: 10px;">
										<div class="modal fade modal-flex" id="single-select-Modal"
											tabindex="-1" role="dialog">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														<h5 class="modal-title">Code Explanation for single
															select radio</h5>
													</div>
													<!-- end of modal-header -->
													<div class="modal-body">
														<pre class="brush: html;">
									     				  	/* For Single Select */
									     				  	<select class="js-example-basic-single">
									     				  		<optgroup label="Developer">
									     				  			<option value="AL">Alabama</option>
									     				  			<option value="WY">Wyoming</option>
									     				  		</optgroup>
									     				  		<optgroup label="Designer">
									     				  			<option value="WY">Peter</option>
									     				  			<option value="WY">Hanry Die</option>
									     				  			<option value="WY">John Doe</option>
									     				  		</optgroup>
									     				  	</select>
															</pre>
													</div>
													<!-- end of modal-body -->
												</div>
												<!-- end of modal-content -->
											</div>
											<!-- end of modal-dialog -->
										</div>
										<!-- end of modal -->
										<div class="row goodsItems" style="margin-bottom: 10px;">
											<div class="col-lg-5 goodsOfMenu" style="padding-left: 0;">
												<select 
													class="js-example-basic-single2 goodsOfMenuCode" id="goodsOfMenuCode"
													style="width: 100%;">
													<option value="">선택해주세요.</option>
													<th:block th:if="${not #lists.isEmpty(goodsList)}"
														th:each="gl : ${goodsList}">
														<option th:value="${gl.goodsCode}"
															th:text="${gl.goodsName}"></option>
													</th:block>
												</select>
											</div>
											<div class="col-lg-5 inputBox"
												style="height: 28px; padding-left: 0;">
												<input class="form-control vailCheck" type="number" id="menuGoodsAmount"
													value="0"
													style="width: 100%; height: 100%;" placeholder="수량">
											</div>
											<div class="col-lg-2 btnDiv">
												<div>
													<button type="button"
														class="btn btn-success waves-effect waves-light"
														id="moreGoodsBtn" style="height: 28px;  line-height : 10px;">추가</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a th:href="@{/admin/goods/menu/menuList}"><button
										type="button" id="returnBtn" class="btn btn-disable disabled"
										style="float: right;">취소</button></a>
								<button type="button" id="submitBtn"
									class="btn btn-info waves-effect waves-light"
									style="float: right; margin-right: 10px;">등록</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<!-- 사용자 정의 js 하단  -->
<th:block layout:fragment="customFootJs">
	<!-- Select 2 js -->
	<script src="/admin/assets/plugins/select2/dist/js/select2.full.min.js"></script>
	<script type="text/javascript" src="/admin/assets/pages/elements.js"></script>
	<script type="text/javascript">
		$(function() {
			$(".js-example-basic-single").select2();
			$(".js-example-basic-single2").select2();

			$('.imageUpload').change(function() {
				var imageName = $(this).val().split('\\');
				imageName = imageName[imageName.length - 1];
				console.log(imageName);
				$(this).parent().find('.upload-name').val(imageName);
			});

			//유효성 검사
			function validationCheck(data) {
				var isValid = true;
				//객체일 경우
				if (typeof data == 'object') {

					$.each(data, function() {
						var inputValue = $(this).val();
						if (typeof inputValue == 'undefined'
								|| inputValue == null || inputValue == '' || inputValue <= 0) {
							isValid = false;
							var inputId = $(this).attr('id');
							var alertMsg = $('label[for="' + inputId + '"]').text();
							alert(alertMsg + ' 입력해주세요');
							$(this).focus();
							return false;
						}
					});

					//문자열일 경우
				} else if (typeof data == 'string') {
					if (typeof inputValue == 'undefined'
							|| inputValue == null || inputValue == '') {
						isValid = false;
						return false;
					}
				}
				return isValid;
			}

			$(document).on('click', '#submitBtn', function() {
				var selectObj = $('.goodsOfMenuCode');
				var selectIsValid = validationCheck(selectObj);
				if(!selectIsValid) return false;
				
				var inputObj = $('.vailCheck');
				var isValid = validationCheck(inputObj);
				if(!isValid) return false;

				var goodsItemsObj = $('.goodsItems');
				var goodsItemsArray = [];

				$.each(goodsItemsObj, function(item, index) {
					var goodsItems = {};
					var goodsOfMenuCode = $(this).find('select').val();
					var menuGoodsAmount = $(this).find('input').val();
					goodsItems['goodsOfMenuCode'] = goodsOfMenuCode;
					goodsItems['menuGoodsAmount'] = menuGoodsAmount;
					goodsItemsArray.push(goodsItems);
				});
				console.log(goodsItemsArray, "<<<<<");
				var form = $('#addGoodsForm');
				var formData = new FormData(form[0]);
				formData.append('goodsItems', JSON.stringify(goodsItemsArray));
				formData.append('goodsMainImage', $('#goodsMainImage'));
				formData.append('goodsInfoImage', $('#goodsInfoImage'));
				console.log(formData, "<<<<<<<<<<<<<<");
				$.ajax({
					type : 'POST',
					url : '/admin/goods/menu/regMenu',
					processData : false,
					contentType : false,
					enctype : 'multipart/form-data',
					data : formData,
				}).done(function(data) {
					if(data){
						window.location.href = '/admin/goods/menu/menuList';
						alert('식단 등록 성공');
					}else{
						alert('오류!');
					}
				}).fail(function(error) {
					alert('통신 실패');
				});
			});

			$('#moreGoodsBtn').click(function() {
				$('.select_goods_Of_Menu').append('<div class="row goodsItems" style="margin-bottom: 10px;"><div class="col-lg-5" style="padding-left: 0;"></div></div>');
				var $selectBox = $('.goodsOfMenu .select2-hidden-accessible').clone();
				var $inputBox = $('.inputBox .vailCheck').clone();
				$('.select_goods_Of_Menu .col-lg-5:last').append($selectBox);
				$('.select_goods_Of_Menu .row:last').append('<div class="col-lg-5" style="height: 28px; padding-left: 0;"></div>');
				$('.select_goods_Of_Menu .row:last .col-lg-5:last').append($inputBox);
				$('.select_goods_Of_Menu .row:last').append('<div class="col-lg-2"><button type="button" class="btn btn-inverse-danger waves-effect waves-light deleteBtn" style="height: 28px; line-height : 10px;">삭제</button></div>');
				
				var deleteBtn = $('.deleteBtn');
				$.each(deleteBtn, function(){
					$(this).click(function(){
						$(this).parent().parent().remove();
					});
				});
				$(".js-example-basic-single2").select2();
			});

		});
	</script>
</th:block>
</html>